.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-down {
	font-size:(31.99/10)*1rem;
	width:(22.02/31.99)*1em;
}
.icon-arrow-right {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-call {
	font-size:(348.1/10)*1rem;
	width:(348.1/348.1)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-chevron-left {
	font-size:(14/10)*1rem;
	width:(8/14)*1em;
}
.icon-chevron-right {
	font-size:(14/10)*1rem;
	width:(8/14)*1em;
}
.icon-eye {
	font-size:(162.02/10)*1rem;
	width:(256/162.02)*1em;
}
.icon-fb {
	font-size:(500/10)*1rem;
	width:(257.81/500)*1em;
}
.icon-inst {
	font-size:(409.6/10)*1rem;
	width:(409.6/409.6)*1em;
}
.icon-like {
	font-size:(409.42/10)*1rem;
	width:(371.82/409.42)*1em;
}
.icon-map {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-odnoklassniki {
	font-size:(500/10)*1rem;
	width:(312.5/500)*1em;
}
.icon-play {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-search {
	font-size:(57/10)*1rem;
	width:(57/57)*1em;
}
.icon-telegram {
	font-size:(180/10)*1rem;
	width:(200/180)*1em;
}
.icon-twitter {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-viber {
	font-size:(500/10)*1rem;
	width:(457.03/500)*1em;
}
.icon-vk {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
.icon-wallet {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-whatsup {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
