
mixin modal() 
 
	//- #modal-win.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-win', aria-hidden='true')
		
	//- 	div( class="   modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			+input("tel","Введите ваш телефон")(name="tel" required) 
				
	//- 			+e.BUTTON.btn.btn.btn-accent.btn-block Отправить
	//- 			+b.wrap-polite
	//- 				+b.custom-input.polite
	//- 					+b.LABEL.custom-input.polite
	//- 						+e.INPUT.input.__input-radio(type="checkbox" checked name="polite" required value="")
	//- 						+e.SPAN.lab
	//- 						| Даю 
	//- 						| 
	//- 						span.link( data-toggle='modal', data-target='#exampleModal2') согласие 

	//- 						| на хранение и обработку   персональных данных
	
 

	//- #thanks.modal.fade(tabindex='-1', role='dialog', aria-labelledby='thanks', aria-hidden='true')
	//- 	div( class=" ttext-center  modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			br
	//- 			.h2 Заявка принята
	//- 			br
	//- 			.h3 Скоро с Вами свяжутся
	//- 			br 
	div(id="modal-nav" class="  mfp-hide modal-win modal-form " )
		+b.nav-block
			.container
				.row
					.col
						+e.block
							+e.main-item: +e.main-link(href="#") Главная
							+e.main-item: +e.main-link(href="#") Продукция
							+e.main-item: +e.main-link(href="#") Доставка
							+e.main-item: +e.main-link(href="#") Компания
							+e.main-item: +e.main-link(href="#") Реализованные проекты
							+e.main-item: +e.main-link(href="#") Ответы на вопросы
							+e.main-item: +e.main-link(href="#") Отзывы клиентов
							+e.main-item: +e.main-link(href="#") Документы
							+e.main-item: +e.main-link(href="#") Контакты
					.col-auto.d-none.d-md-block
						// добавил обертку
						+e.block-wrap
							+e.block
								+e.item: +e.link(href="#") Щебень
								+e.item: +e.link(href="#") Отсев щебня
								+e.item: +e.link(href="#") Бутовый камень
								+e.item: +e.link(href="#") Узкие фракции
								+e.item: +e.link(href="#") Смеси щебня
								+e.item: +e.link(href="#") Песок
								+e.item: +e.link(href="#") Гравий
								+e.item: +e.link(href="#") ПГС ОПГС

							+e.block
								+e.item: +e.link(href="#") Доставка автотранспортом
								+e.item: +e.link(href="#") Доставка Ж/Д вагонами
								+e.item: +e.link(href="#") Доставка баржами по воде
				
				+e.btn.btn-lg.d-md-none(href="#") Калькулятор поставок
	// #modal-nav


	+form-wrap()(id="modal-call" class="  mfp-hide modal-win modal-form " )
		+e.block
			.text-center
				+e.title

				+e.text Заполните форму и&nbsp;персональный менеджер свяжется с&nbsp;Вами в&nbsp;течение 15&nbsp;минут
				+input('text','Ваше имя')
				+input('tel','Ваш телефон')(class='is-invalid')
				//- .d-none.d-sm-block
				+input('email','Ваш E-mail') 
				+ta('Ваш вопрос')
				+add-file(n)
				+e.btn(type="submit") Отправить
				+polite
	// /#modal-call
	
	+form-wrap()(id="modal-profile" class="  mfp-hide modal-win modal-form " )
		+e.block
			.text-center
				+e.title Анкета соискателя

				+e.text Заполните форму, прикрепите резюме и&nbsp;мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;ближайшее время
				+input('text','Ваше имя')
				+input('tel','Ваш телефон')(class='is-invalid')
				.d-none.d-sm-block
					+input('email','Ваш E-mail') 
					+ta('Ваш вопрос')
					+add-file(n)
				+e.btn(type="submit") Отправить
				+polite
	// /#modal-profile
	
	+b.form(id="modal-city" class="  mfp-hide modal-win modal-form " )
		+b.city
			+e.title Выберите город
			+e.UL.wrap
				mixin li(a)
					+e.LI.item: +e.link&attributes(attributes)(href="#")= a
				+li("Азнакаево")
				+li("Аксубаево")
				+li("Актаныш")
				+li("Алексеевское")
				+li("Альметьевск")(class="strong")
				+li("Апастово")
				+li("Арск")
				+li("Бавлы")
				+li("Базарные Матаки")
				+li("Балтаси")
				+li("Богатые Сабы")
				+li("Болгар")
				+li("Большая Атня")
				+li("Большие Кайбицы") 
				
				+li("Белебей")
				+li("Белорецк")
				+li("Бирск")
				+li("Благовещенск")
				+li("Бугульма")
				+li("Буинск")
				+li("Верхний Услон")
				+li("Волжск")
				+li("Высокая Гора")
				+li("Елабуга")
				+li("Заинск")
				+li("Зеленодольск")
				+li("Ишимбай")
				+li("Йошкар-Ола")(class="strong")

				+li("Казань")(class="strong")
				+li("Камское Устье")
				+li("Канаш")
				+li("Кумертау")
				+li("Кукмор")
				+li("Лаишево")
				+li("Лениногорск")(class="strong")
				+li("Мамадыш")
				+li("Мелеуз")
				+li("Менделеевск")
				+li("Мензелинск")
				+li("Можга")
				+li("Муслюмово")
				+li("Набережные Челны")(class="strong")

				+li("Нефтекамск")
				+li("Нижнекамск")(class="strong")
				+li("Нурлат")
				+li("Октябрьский")(class="strong")
				+li("Пестрецы")
				+li("Рыбная Слобода")
				+li("Сарманово")
				+li("Тетюши")
				+li("Туймазы")(class="strong")
				+li("Уруссу")
				+li("Уфа")(class="strong")
				+li("Учалы")
				+li("Черемшан")
				+li("Чистополь")(class="strong")



	// #modal-city

	+b.form-wrap(id="modal-thank" class="  mfp-hide modal-win modal-form " )
		+e.block
			.text-center
				.h2.strong Спасибо за обращение!

				+e.text Персональный менеджер свяжется с Вами в течение 15 минут
				+e.btn.btn-close-js(type="button") Закрыть 
	// /#modal-thank

	// modal