extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-prod/_s-prod.pug
include ../blocks/s-shipping/_s-shipping.pug
include ../blocks/s-geo/_s-geo.pug
include ../blocks/s-now/_s-now.pug
include ../blocks/s-team/_s-team.pug
include ../blocks/s-client/_s-client.pug
include ../blocks/s-objects/_s-objects.pug
include ../blocks/s-calc/_s-calc.pug
include ../blocks/aside-nav/_aside-nav.pug

include ../blocks/s-card-head/_s-card-head.pug
include ../blocks/s-category/_s-category.pug
include ../blocks/s-video/_s-video.pug
include ../blocks/s-char/_s-char.pug
include ../blocks/s-applications/_s-applications.pug
include ../blocks/s-shipping2/_s-shipping2.pug
include ../blocks/s-text/_s-text.pug
include ../blocks/s-why/_s-why.pug
include ../blocks/s-advantages/_s-advantages.pug

 
block variables
	- let  mainPage= null
block title
	- let  title= 'Щебень'
	title= title

block pagecontent
	+header() 
		+top-line()
		+breadcrumb2('главная','продукция', title)
		+s-card-head('Щебень по оптовым ценам от 460 руб/тн в т.ч. с НДС','М1000 фракции 5-20', 'от 450 руб/тн с НДС', 1,2,3,4)
		+top-nav()
			-
				let nav= {
					"характеристики":"#s-char",
					"о компании":"#s-now",
					"Видео с наших площадок":"#s-video",
					"доставка":"#s-shipping",
					"наша техника":"#s-rent",
					"реализованные проекты":"#s-objects",
					"рассчитать стоимость":"#s-departure",
					}
			+mnu2(nav)
	//- +card-head-radio('5-20', '20-20', '40-70', '70-120')

	//- +card-head-radio('M400', 'M600', 'M800', 'M1000', 'M1200', 'M1400')

	//- +card-head-radio('Гранитный', 'Известняковый', 'Доломитовый', 'Жигулевский')


	+s-char
		+b.section-title.text-lg-left.text-center
			h2 Характеристики щебня 
				| 
				span.text-primary М1000 фракции 5-20

	+s-now()(class="bg-wrap text-md-white bg-light")
		+pic("s-now-bg","bg")(class="picture-bg d-none d-md-block")
		.container
			+b.section-title.text-center
				h2 Наша компания сегодня
				+e.text Основным направлением нашей деятельности является дистрибуция нерудных материалов любых объемов и&nbsp;любыми доступными способами по&nbsp;территории России
	+s-video
		+b.section-title.text-center
			h2 Видео с&nbsp;наших площадок 
			+e.text Первая нерудная компания ведет видео-отчет каждой отгрузки
	+s-shipping
		+b.section-title
			h2 Доставка автотранспортом 
				|
				span.text-primary от 10 тонн
	+s-advantages 
	+s-rent
		+b.section-title.text-center
			h2 Наша спецтехника
			+e.text Ежедневно на&nbsp;линии более 15&nbsp;единиц техники
	+s-objects
		+b.section-title.text-center
			h2 Выполненные проекты
			+e.text За 7 лет мы выполнили проекты различной сложности и для разного уровня клиентов
	+s-departure
	+footer()