extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-prod/_s-prod.pug
include ../blocks/s-shipping/_s-shipping.pug
include ../blocks/s-geo/_s-geo.pug
include ../blocks/s-now/_s-now.pug
include ../blocks/s-team/_s-team.pug
include ../blocks/s-client/_s-client.pug
include ../blocks/s-objects/_s-objects.pug
include ../blocks/s-calc/_s-calc.pug
include ../blocks/aside-nav/_aside-nav.pug
include ../blocks/s-news/_s-news.pug

block title
	title  14. Новости


block pagecontent
	+header() 
		+top-line()
		+breadcrumb2('Главная','Новости')
		+b.page-head.container 
			.row.align-items-center
				.col.text-xl-left.text-center
					h1 Новости 
				.col-xl-auto
					+e.row.row.row--sm.justify-content-center
						.col-auto
							+b.prod-btn--head(href="#").active 2019
						.col-auto
							+b.prod-btn--head(href="#") 2018
						.col-auto
							+b.prod-btn--head(href="#") 2017
		+s-news
	
	+footer()