extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-prod/_s-prod.pug
include ../blocks/s-shipping/_s-shipping.pug
include ../blocks/s-geo/_s-geo.pug
include ../blocks/s-now/_s-now.pug
include ../blocks/s-team/_s-team.pug
include ../blocks/s-client/_s-client.pug
include ../blocks/s-objects/_s-objects.pug
include ../blocks/s-calc/_s-calc.pug
include ../blocks/aside-nav/_aside-nav.pug
include ../blocks/s-about-text/_s-about-text.pug
include ../blocks/s-applications/_s-applications.pug
include ../blocks/s-project-head/_s-project-head.pug
include ../blocks/s-soc/_s-soc.pug
include ../blocks/s-gal/_s-gal.pug

block title
	title 16.10. Этапы работ


block pagecontent
	+header() 
		+top-line()
		+breadcrumb2('главная','Этапы работ') 
		+b.page-head.container.text-xl-left.text-center
			//- +breadcrumb('Видео с отгрузок', 'Главная')
			h1 Этапы работ
	+s-applications-whithoutItem(class="section-border-bottom  s-applications--problem s-applications--steps") 
		.row 
			mixin item(i, t)
				+e.col--project.--steps.col-md-4.col-sm-6  
					+e.icon-wrap
						img.lazy.res-i(src="#" data-src=`img/steps-${i}.png`, alt="")
					+e.title--problem= t
					block
				// /+e.col.col-md-4.col-sm-6  
			+item("1","Заявка")
				+e.text--problem Оставляете заявку на&nbsp;сайте или звоните по&nbsp;телефону:
					br
					a.bdb(href="tel:8 (800) 100-73-75") 8 (800) 100-73-75
			+item("2","Расчёт")
				+e.text--problem Рассчитываем стоимость продукции и&nbsp;доставки, после чего связываемся с&nbsp;вами в&nbsp;течение 15&nbsp;минут.
			
			+item("3","Согласование")
				+e.text--problem Согласовываем условия, сроки и&nbsp;цены поставок.

			+item("4","Договор")
				+e.text--problem Заключаем договор и&nbsp;предоставляем вам личного менеджера, который будет на связи 7&nbsp;дней в&nbsp;неделю.

			+item("5","Счёт")
				+e.text--problem Выставляем счет и&nbsp;получаем оплату.
			
			+item("6","Отгрузка")
				+e.text--problem Производим отгрузку продукции на&nbsp;ваш объект.
			
			
			+item("7","Документы")
				+e.text--problem Отправляем закрывающие документы на&nbsp;электронный адрес.
			
			
			+item("8","Закрытие сделки")
				+e.text--problem В&nbsp;течение двух недель отправляем оригиналы документов на&nbsp;почтовый адрес или при срочности привезем в&nbsp;офис.
			
			+item("9","Отзыв")
				+e.text--problem Связываемся с&nbsp;вами, чтобы убедиться, что всё прошло хорошо и&nbsp;нет никаких претензий.
			
				
	// start s-about-text
	+s-contact-whithoutTitle()(class="s-contact--40")
		+b.section-title.text-center.pb-0
			h2 Ищете надёжного партнёра по&nbsp;поставке нерудных материалов? 
			.h6 Оставьте заявку и&nbsp;мы&nbsp;предоставим для вас выгодные условия, а&nbsp;также бесплатно доставим образцы материала
	+footer()