mixin s-regions()
	// start s-regions
	+b.s-regions.section#s-regions.lazy-background&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 s-regions
				
			.row
	// end s-regions