.s-problems {
	@include media-breakpoint-up(md) {

		background-image: url(../img/problems-bg.jpg);
	}
	h2{
		margin-left: auto;
		margin-right: auto;
		max-width: em(300);
		@include media-breakpoint-up(md) {

			color: #ffffff;
		}
			padding-bottom: em(0);
		margin-bottom: 0;
	}
	.section-title{
		padding-bottom: em(36);
	}
	.swiper-wrapper{
		padding-bottom: 30px;
		@include media-breakpoint-up(md) {
			padding-bottom: 30px;
			margin-top: 15px;
			margin-left: -15px;
			margin-right: -15px;
			padding-bottom: 20px;
			width: calc(100%  + 30px);
			padding-bottom: 0;
			transform: translate3d(0px, 0px, 0px) !important; 
			flex-wrap: wrap; 
		}
	}
	.swiper-pagination{
		@include media-breakpoint-up(md) {

			display: none !important;
		}
	}

	&__col{
		// @include media-breakpoint-up(md) {}
		height: auto;
		margin-bottom: 30px;
		
	}

	@include media-breakpoint-up(xl) {

		.item-prod--cap  {
			min-height: rem(240);
		}
	}
	.swiper-pagination{
		width: 100%;
		@include media-breakpoint-up(md) {

			display: none !important;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}