mixin char-whitout-item(t, i, sub)
	+s-char-body()
		+b.section-title
			h2= t 
		.row
			.col-lg-12.col.order-lg-first.order-last
				block
				
			.col-lg-12.col-md-8
				+e.img-wrap
					img.res-i.lazy(src="#" data-src=`img/${i}.jpg`, alt="")
mixin s-char-body()
	// start s-char
	+b.s-char.section#s-char.lazy-background&attributes(attributes)
		.container
			block
			//- +e.btn.popup-with-move-anim(href="#modal-call" data-title='Оставить заявку') Оставить заявку
	// end s-char
mixin s-char()
	+s-char-body()
		block
		.row
			mixin item(t,p,f)
					if !f
						.col-xll-3.col-lg-4.col-sm-6
							+e.title--bd= t
							+e.caption--head= p
					else
						+e.slide.swiper-slide
							+e.item
								+e.title--foot= t
								+e.caption--foot= p
			+item("Средняя плотность",'от 1,32 до 1,38 т/м3')
			+item("Морозостойкость",'до 300 циклов')
			+item("Прочнсть",'M400, M600, М800, М1000, М1200, М1400')
			+item("Радиоактивность",'в пределах нормы')
			+item("Лещадность",'1-3 группы')
			+item("Порода",'плотная горная')
			+item("ГОСТ",'8267-93') 
		+e.slider.swiper-container.slider--js
			.swiper-wrapper
				+item('Качественная продукция','Поставляемый щебень высокой прочности имеет паспорта качества.','f')
				+item('Быстрая доставка','Быстрая доставка щебня до любого объекта, точно в срок.','f')
				+item('Бесплатные образцы','В течении недели бесплатно доставим образцы щебня.','f')
				+item('Отгрузка в первый день','Начинаем отгрузку материала в день обращения.','f')
			.swiper-pagination
mixin s-char-02-6
	+s-char-body()
		+b.section-title.text-center
			h2 Характеристики песка
		.row
			.col-lg-12.col.order-lg-first.order-last
				ul 
					li.sand Класс песка: 1 класс

					li.sand Модуль крупности 
						br
						| песка: 2,0&nbsp;&mdash; 3,0  
					li.sand Коэффициент уплотнения:
						br
						| 1&nbsp;м3 = 1,4 тонны
					li.sand ГОСТ 8736-93
			.col-lg-12.col-md-8
				+e.img-wrap
					img.res-i.lazy(src="#" data-src='img/char-img-sand.jpg', alt="")  

mixin s-char-02-8
	+s-char-body()
		+b.section-title.text-center
			h2 Характеристики гравия
		.row
			.col-lg-12.col.order-lg-first.order-last
				ul 
					li.sand Класс песка: 1 класс

					li.sand Модуль крупности 
						br
						| песка: 2,0&nbsp;&mdash; 3,0  
					li.sand Коэффициент уплотнения:
						br
						| 1&nbsp;м3 = 1,4 тонны
					li.sand ГОСТ 8736-93
			.col-lg-12.col-md-8
				+e.img-wrap
					img.res-i.lazy(src="#" data-src='img/char-img-gravel.jpg', alt="")

mixin s-char-02-7
	+s-char-body()
		+b.section-title.text-center
			h2 Характеристики смеси гравия и песка
		.row
			.col-lg-12.col.order-lg-first.order-last
				ul 
					li.sand Класс песка: 1 класс

					li.sand Модуль крупности 
						br
						| песка: 2,0&nbsp;&mdash; 3,0  
					li.sand Коэффициент уплотнения:
						br
						| 1&nbsp;м3 = 1,4 тонны
					li.sand ГОСТ 8736-93
			.col-lg-12.col-md-8
				+e.img-wrap
					img.res-i.lazy(src="#" data-src='img/char-img-pgs.jpg', alt="")

