.s-char {
	@include media-breakpoint-up(md) {
		padding-bottom: rem(17);
	}
	 .section-title{
		 padding-bottom: rem(40);
	 }
	 &__title{
		 font-weight: bold;
		 &--bd{
			 min-height: rem(42);
			margin-bottom: rem(31);
			border-bottom: 1px solid #eeeeee
			}
	 }
	 &__title--foot{
		 @extend .h55;
		 font-weight: bold;
		 position: relative;
		 padding-bottom: rem(22);
		 margin-bottom: rem(22);
		 &::after{
			 content: '';
			 width: rem(40px);
			height: rem(3px);
			// display: block;
			display: inline-block;
			background-color: #dbb041;
			position: absolute;
			@include media-breakpoint-up(md) {

				left: 0;
				margin-left: 0;
			}
			left: 50%;
			margin-left: rem(-20);
			bottom: 0;
		 }
	 }
	 &__caption{
		 &--head{

			 min-height: 3em;
			 margin-bottom: rem(24);
			}
	 }
	 &__caption--foot{
		//  padding-bottom: rem(15);
	 }
	 &__item{
		@include media-breakpoint-up(md){

			box-shadow: 0 rem(12px) rem(20px) rgba(0, 0, 0, 0.15);
		}
		@extend .panel;
		padding-bottom: rem(25);
		height: 100%;
	 }
	 
	 &__slider{
		 @include media-breakpoint-up(md) {
			 overflow: inherit;
			}
			 padding-left: rem(25);
			 padding-right: rem(25);
			 margin-left: rem(-25);
			 margin-right: rem(-25);
		}
	 .swiper-wrapper{
		margin-bottom: rem(20px);

		@include media-breakpoint-up(md) {
			margin-bottom: rem(0);
			width: calc(100% + #{rem(30px)});
			padding-bottom: 0;
			transform: translate3d(0px, 0px, 0px) !important; 
			flex-wrap: wrap;
			// > *
			@include roww(15);
			// margin-right: rem(-15px);
			// margin-left: rem(-15px);
			text-align: left;
			// &:before{
			// 	// display: none;
			// }
		}
		text-align: center;
	}
	.swiper-pagination{
		width: 100%;
		@include media-breakpoint-up(md) {

			display: none !important;
		}
	}
	&__slide{
		height: auto;
		@include media-breakpoint-up(lg) {

			max-width: (100% / 4);
		}
		
		@include media-breakpoint-up(md) {

			max-width: (100% / 2);
		}

		height: inherit;
		@include media-breakpoint-up(xxl) {
			margin-bottom: rem(55px);
		}

		
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(30px);
		}


	 
			@include media-breakpoint-up(md) {
			margin-bottom: rem(30);
			margin-right: 0 !important	;
		}
		margin-bottom: rem(40);
	}

			//
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {
		text-align: center;
	} 

}