html {
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	// background-position: center -55px;
	// background-repeat: no-repeat;
 
	// background-image: url(../screen/BZ_Article_Desktop.jpg);
	overflow-x: hidden;
} 
body{

}
.screen{ 
	top: 0;
	@include a-cent(x);
	display: block;
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: left 0 ;
	opacity: 0;
	// opacity: 0.7;
}  
@include media-breakpoint-up(lg) {

	.under-top-nav.section{
		// padding-top: rem(140) !important;
	}
}
	body {
	// opacity: .7;
	// min-height: 14000px; 
	background-color: transparent;
}
.link-animate{

	@include mt;
	text-decoration: none !important;
}
// a{
	
// }


.section {
	padding-top: rem(40px);
	padding-bottom: rem(30px);
	@include bgs;

	@include media-breakpoint-up(md) {
		padding-top: rem(72px);
		padding-bottom: rem(50px);
	}
	// &:nth-child(even){
	// 	background-color: #f4f4f4
	// }
}

.section-title {
	line-height: (32 / 20);
	@include media-breakpoint-up(xl) {
	}
	// font-size: $h55-font-size;
	@extend .h55;
	@include media-breakpoint-up(xxl) {
		
		padding-bottom: rem(49);
	}
				@include media-breakpoint-up(md) {

					padding-bottom: rem(50);
				}
				padding-bottom: rem(30);
	// padding-bottom: rem(45);
	
	font-weight: bold;
	@include media-breakpoint-down(xs) {
		font-size: $small !important;
	}
		h1{
			@extend .h2;
			font-weight: bold;
		}
		.h2,
		h2 { 
		font-weight: bold;
		padding-bottom: rem(4);
		@include media-breakpoint-up(md) {}
	}
	&__text{
		color: $primary;
	}
	&__block{
		max-width: em(340);
	}
	&__tdu{
		border-bottom: 1px solid $primary;
		&:hover{
			border-color: transparent;
		}
	}
	&--bz{
		@include media-breakpoint-down(sm) {
			text-align: center;
			// display: flex;
			// flex-direction: column;
			// justify-content: center;
			.row--md{
				justify-content: center;
			}
		}
		
	}
}
.page-head{
	.h55{
		max-width: em(700);
			@include media-breakpoint-down(lg)  {
				margin-left: auto;
				margin-right: auto;
	}
	}
}
.main-row__col-main:not(.main-row__col-main--block-2){

	.page-head{
		// .h55{
		// 	// max-width: em(300);
		// }
		@include media-breakpoint-between(xl, xxl)  {
		
			padding-top: rem(0);
		}

	}
}
.page-head{
	line-height: (32 / 20);
	@include media-breakpoint-up(xl) {
		padding-top: rem(50);
		text-align: left;
	}
	
	padding-top: rem(46);
	text-align: center;
	h1{
		font-weight: bold;
		@extend .h2;
		margin-bottom: 0;
		padding-bottom: rem(12);
	}
	&__text{
		@extend .h55;
		font-weight: bold;
		color: $primary;
		&--video{
			max-width: em(500);
			@include media-breakpoint-up(xl) {
				margin-left: 0;
				margin-right: 0;
			}
			margin-left: auto;
			margin-right: auto;
		}
}
&--problem{
	// h1{

	// 	// max-width: em(600);
	// }
}
}

// @include media-breakpoint-up(lg) {
// 	.container {
// 	.container {
// 		// padding-left: 0;
// 		// padding-right: 0;
// 	}
// }

body,
html {
	@include media-breakpoint-up(xxxl){
		
		font-size: $em-base;
	}
	
	@include media-breakpoint-up(xxl){
		
		font-size: 14px;
	}

	// font-size: $em-base * .9;
	
	@include media-breakpoint-up(xl){
		
		// font-size: $em-base;
	}
	
	@include media-breakpoint-up(sm){
		
		// font-size: $em-base;
		// font-size: 15px;
		font-size: 12px;
	}

	font-size: 12px;

}

body {
	min-width: 320px;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		background-color: #f9f9f9;
		opacity: 0;
		z-index: -1;
		top: 0;
	}

	&.fixed {
		overflow: hidden;
		// position: absolute;
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 1020;
		
		&::before {
			z-index: 1020;
			background-color: #252525;
			opacity: 0.9;
			// opacity: 1;
			// opacity: 1;
		}
	}
}

.main-wrapper {
	position: relative;
	overflow: hidden;
}

.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}



.mfp-with-zoom {

	.mfp-container,
	&.mfp-bg {
		opacity: 0;
		backface-visibility: hidden;
		@include media-breakpoint-up(lg) {

			transition: all 0.2s ease-out;
		}
	}

	&.mfp-ready {
		.mfp-container {
			opacity: 1;
		}

		&.mfp-bg {
			opacity: 0.8;
		}
	}

	&.mfp-removing {

		.mfp-container,
		&.mfp-bg {
			opacity: 0;
		}
	}
}

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
	opacity: 0; 
	@include media-breakpoint-up(lg) {

		transition: all 0.15s ease-out;
	}
}

.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {

	opacity: 0;
	@include media-breakpoint-up(lg) {

		-webkit-transition: all 0.15s ease-out;
		-moz-transition: all 0.15s ease-out;
		transition: all 0.15s ease-out;
	}
	}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

/* start state */


.show-modal {
	.mfp-content {
		// transform: translateY(-100%);
		@include media-breakpoint-up(lg) {

			transform: translateY(-100%);
			@include mt;
		}
	}
	
	&.mfp-ready .mfp-content {
		transform: translateY(0);
		@include media-breakpoint-up(lg)  {

			@include mt(.4);
		}
		// opacity: 1;
		// transform: translateY(0) perspective(600px) rotateX(0);
	}
	
	&.mfp-removing .mfp-content {
		// transform: translateY(0);
		@include media-breakpoint-up(lg) {

			transform: translateY(-100%);
			@include mt;
		}
		
	}

	// .mfp-bg{
	// }

	&.mfp-bg {
		@include media-breakpoint-up(lg) {

			@include mt;
		}
		opacity: 0; 
	}

	&.mfp-ready.mfp-bg {
		opacity: 0.93;
	}

	&.mfp-removing.mfp-bg {
		opacity: 0;
	}
}
// .mfp-container{
// }

.show-gal .mfp-container{
	height: auto;
	min-height: 100%;
		
	background-color: $light;
}
.show-gal-rew{
	figure{
		background-size: 100% 100%;
		// padding-top: 30px;
		// margin-bottom: em(25);
		&::after{
			content: '';
			position: absolute;
			// z-index: -2;
			@include a-cent;
			width: 100%;
			height: 90%;
			background-image: url(../img/border.png);
			background-size: 100% 100%;
			background-position: top center;
		}
	}
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	cursor: pointer;

	i {
		line-height: 1;

	}

	cursor: pointer;

	&.l {
		left: 0;
	}

	&.r {
		right: 0;

		svg {
			@include transform(rotateY(180deg));
		}
	}

	svg {
		width: 17px;
		height: auto;
	}
}

input,
textarea {
	@include input-placeholder {
		// color: red;
	}

	;
}



* {
	margin: 0;
	padding: 0
}

.text-center {
	text-align: center
}

.res-i {
	max-width: 100%;
	width: auto;
	height: auto;
}

strong,
.strong {
	font-weight: bold
}

.light {
	font-weight: 300
}


.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}


.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

	}

	&__content {
		&.active {
			display: block;
		}

		display: none;
	}
}


select.form-control {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='0.529cm' height='0.318cm'%3E%3Cpath fill-rule='evenodd' fill='rgb(226, 181, 66)' d='M14.707,1.704 L7.707,8.704 L7.500,8.497 L7.293,8.704 L0.293,1.704 L1.707,0.290 L7.500,6.084 L13.293,0.290 L14.707,1.704 Z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: calc(100% - #{rem(15px)}) 56%; // background-size: rem(18) ;
	padding-right: rem(40);
	appearance: none !important;

	&:not([size]):not([multiple]) {
		height: $input-height;
		&.form-control-lg{
			height: $input-height-lg;

		}
	}

	&:focus::-ms-value {
		// Suppress the nested default white text on blue background highlight given to
		// the selected option text when the (still closed) <select> receives focus
		// in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
		// match the appearance of the native widget.
		// See https://github.com/twbs/bootstrap/issues/19398.
		color: $input-color;
		background-color: $input-bg;
	}
}

select::-ms-expand {
	display: none;
}
input[type='number'] {
  -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


.invisible-block{
	position: absolute;
		// opacity: 0;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		clip: rect(0 0 0 0 );
		overflow: hidden;
}


.body-link{
	color: $body-color;
	border-bottom: 1px solid transparent;
	@include media-breakpoint-up(sm) {
		&:hover{
			color: $primary;
			border-color: $primary;
		}

	}
}
a.tdu{
	text-decoration: none !important;
	border-bottom: 1px solid transparent;
	@include media-breakpoint-up(sm) {

		&:hover{
			color: $primary;
			border-color: inherit;
		}
	}
}
a.bdb{
	text-decoration: none !important;
	border-bottom: 1px solid  ;
	@include media-breakpoint-up(sm) {

		&:hover{
			color: $primary;
			border-color: transparent;
		}
	}
}

.img-animate{
	position: relative;
	z-index: 2;
	background-color: $body-color;
	&::before{
		z-index: -1;
		content: '';
		position: absolute; 
		@include mt;
		background-color: #000000;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		opacity: 0;
	}
	@include media-breakpoint-up(sm) {

		&:hover{
			&:before{
				opacity: 0.4;
			}
		}
}
}

.swiper-pagination{
	// margin: 0 -10px !important;
	&-bullet{ 
		background-color: #e7e7e7  ;
		margin: 0 10px !important;
		outline: none;
		opacity: 1;
		&:hover,
		&-active{
			background-color: $primary !important;
		}
	}
}

.swiper-pagination{
	  &-bullet{
		@include media-breakpoint-up(lg) {
			
			width: $h55-font-size;
			height: $h55-font-size;
		}
		@include media-breakpoint-up(md) {
			background-color: transparent ;
			// border: 2px solid #dddddd !important;
			&:hover{
				background-color: transparent !important;
			}
			&-active,
			&:hover{
				border-color: $primary !important; 
			}

			width: $small;
			height: $small;
		}
	}
}

.swiper-button-hand{
	
	background: none;
	@include media-breakpoint-up(lg) {

		width: rem(60px);
		height: rem(60px);
		line-height: rem(55px);
	}
	width: rem(40px);
	height: rem(40px);
	line-height: 32px;
	border: 2px solid #dddddd;
	text-align: center;
	border-radius: 50%;
	// margin-bottom: 20px;
	outline: none;
	&:hover{
		border-color: #c1c1c1;
	}
	.icon{
		font-size: $small;
		color: $primary;
		// padding-right: 5px;
		margin-right: 2px;
	}
	&-prev{
		@include media-breakpoint-up(xl) {

			left: -5px;
		}
		left: -25px;
	}
	&-next{
		@include media-breakpoint-up(xl) {

			right: -5px;
		}
		right: -25px;
		// @include transform(rotateY(180deg));
	}
}


.row--sm{
	@include roww(7);
}

.slider--js{
	@include media-breakpoint-up(md) {

		.swiper-slide{
			height: auto;
		}
	}
}

img.lazy{
	@include mt;
	opacity: 0;
}

.main-row{
	&__col-main{
		@include media-breakpoint-up(xxl) {
			max-width: 1320px;
			padding-left: 0;
		}
		
		@media (min-width: 1320px) {
			// max-width: 1220px;
			max-width: 1080px; 

		}
		
		@include media-breakpoint-only(xl) {
			padding-left: rem(30) !important;

		}
		@include media-breakpoint-up(xl) {
			// max-width: 1220px;
			max-width: 970px;
			padding-bottom: rem(30);
		}
						@include media-breakpoint-down(lg) {
		max-width: 100%;
		flex: 0 0 100%;
						}

		padding-bottom: rem(20);
		.section:first-child {
			@include media-breakpoint-between(xl, xxl) {
				padding-top: rem(20);
			}
		}
		}
	&__col-aside{
		// align-self: auto;
		// height: auto;?
		// align-self: baseline;
		// z-index: 200;
		background-color: $light;
		// background-color: #ffffff;
		@include media-breakpoint-up(xl) { 
			z-index: 1;
			&::after{
				content: '';
				position: absolute;
				width: 100%;
				height: 10000000vh;
				background-color: $light;
				top: 99%;
				z-index: -2;
				border-right: 1px solid #e7e7e7;
			}
			border-right: 1px solid #e7e7e7;
			position: relative;
			z-index: 2;
		}
		@include media-breakpoint-up(xxl) {
			
			padding-top: rem(50); 
		}

		.section{
			@include media-breakpoint-between(xl, xxl) { 
				// padding-top: 0;
			}
			@include media-breakpoint-down(lg) {
				
				
				background-color: $light;
				position: absolute !important;
				width: 100vw;
				left: 0;
				top: rem(90) !important;
				bottom: auto !important;
				z-index: 200;
				display: none;
				overflow-y: auto;
				overflow-x: hidden;
				// margin-right: calc(100vw - 100%);
				// margin-left: calc(100vw - 100%);
			}
			@include media-breakpoint-up(lg) {
				
				padding: 1.8625em 0;
				// padding: em(25) 15px;
			}
			padding: em(15) 15px;
			// @include media-breakpoint-up(xl) {
				// 	height: auto;
				// }
				@include media-breakpoint-down(lg) {
					height: calc(100vh -  #{rem(190)});
				} 
				@include media-breakpoint-down(sm) {
					top: rem(70) !important;
				height: calc(100vh -  #{rem(94 + 70)}); 
				// height: calc(100vh -  54px); 
			}
			
			@include media-breakpoint-down(xs) {
				// height: calc(100vh -  94px); 
				height: calc(100vh -  54px); 
			}

			}
			@media (max-width: 1814.98px) and (min-width: 1200px)  {
    padding-top: rem(15);
}
		}
}


.section-border-bottom{
	// border-bottom: 1px solid $gray;
	position: relative;
	&::before{
		content: '';
		position: absolute;
		bottom: 0;
		@include a-cent(x);
		height: 1px;
		background-color: $gray;
		width: 200vw;
	}
	@include media-breakpoint-down(sm){
		&--md{
			&::before{
				display: none;
			}
		}
	}
}


.form-control.is-invalid:focus, .is-invalid.add-file:focus, .was-validated .add-file:invalid:focus, .was-validated .form-control:invalid:focus{
  
  border-color: $primary !important;
 }

 .bgin{
	 background-image: none !important;
 }
 @include media-breakpoint-up(md) {

	 .slider--js{
		 .swiper-wrapper{
			transition-duration: 0ms !important;

		 }
		 //  .swiper-slide-duplicate-active,
		 .swiper-slide-duplicate
		//  .swiper-slide-duplicate-prev
		 {
			 display: none;
			}
		}
	}
	.row--md{
		@include roww(10)
	}
	.badge{
		font-size: $small;
		background-color: $primary;
		border-radius: rem(40);
		padding: rem(5) rem(20);
		font-weight: normal;
		&--primary{
			background-color: $primary;
		}
	}
	.icon-eye{
		font-size: 10px;
		margin-right: rem(5);
		position: relative;
		top: em(-3);
	}


	.picture-bg{
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		img{
			width: 100%;
			height: 100%;
		}
	}
	
	
	.bg-wrap{
		position: relative;
		z-index: 2;
	}
picture{
	display: block;
	// display: flex;
	// width: 100%;
	// height: 100%;
	img{
		@extend .res-i;
	}
	img.object-fit-js{
		height: 100%;
		width: 100%;
		// max-width: 100%;
		display: block;
		object-fit: cover;
	}
}

.object-fit-js img,
 img.object-fit-js{
	object-fit: cover;
	object-position: top;
	font-family: 'object-fit: cover; object-position: top;';
}


.invisible{
	position: absolute;width: 1px;height: 1px;margin: -1px;border: 0;padding: 0;clip: rect(0 0 0 0 );overflow: hidden;
}

 
.panel{
	@include media-breakpoint-up(xll) {

		// padding: rem(30);
		padding-left: rem(30);
		padding-right: rem(30);
	}
	padding: rem(25) rem(25);
	border: 1px solid #eeeeee;
	background-color: #ffffff;
}



.rub{
	font-family: "ALS Rubl";
	font-weight: normal;
}
.mono {
	font-family: $font-family-monospace;
}

.small {
	@include media-breakpoint-up(lg){

		font-size: $small;
	}
	font-size: $small *.9;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}
 
.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-900 {
	font-weight: 900;
}
.fw-400 {
	font-weight: 400 !important;
}


.row--small {
	@include roww(10)
}
@media (max-width: 1470px) {
	.row{
		@include roww(10);
	}
}


a.color-link,
a.text-link,
a.link-color{
	color: #389aff;
		border-bottom: 1px solid transparent; 
		@include mt;  
		&:hover{
			color: #f41224;
			border-color: #f41224;
		}
}



.animate-js{
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 100%;
	transform: scale(0);
	transform: scale(0); 
	z-index: 2 !important;
	position: absolute !important;
	}
	.btn_animate {
		animation: ripple .65s linear

		}
		
	@keyframes ripple {
		100% {
			opacity: 0;
			transform: scale(2.5)
		}
	}
	.btn-primary{
		overflow: hidden;
		position: relative;
		
}

.show-modal.mfp-ready.mfp-bg{
	
}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after,
.swiper-button-next:after, .swiper-button-prev:after{
	display: none;
}
.block-add{
	display: flex;
	&__btn{
		@extend .btn;
		@extend .btn-outline-primary;
		padding: 0;
		width: rem(58);
		height: rem(58);
		display: flex;
		justify-content: center;
		align-items: center;
		color: $body-color !important;
	}
	&__input{
		@extend .form-control;
		width: rem(58);
		margin-left: rem(10);
		margin-right: rem(10);
		padding: 0;
		text-align: center;
	}
}