$output-bourbon-deprecation-warnings: false;
// @import "mq";
@import "bourbon/app/assets/stylesheets/bourbon";
// @import "bourbon";
@import "bootstrap/vendor/rfs";
// @import "../../node_modules/rfs/scss";
@import "vars";
@import "../../public/img/svg/_sprite";
@import "bootstrap/bootstrap";
// @import "../libs/animate";
// @import "fontawesome-pro-5.0.8/web-fonts-with-css/scss/fontawesome";
// @import "fontawesome-pro-5.0.8/web-fonts-with-css/scss/fa-brands";
// @import "fontawesome-pro-5.0.8/web-fonts-with-css/scss/fa-regular";
// @import "fontawesome-pro-5.0.8/web-fonts-with-css/scss/fa-solid";
// @import "fontawesome-pro-5.0.8/web-fonts-with-css/scss/fa-light";
// @import "../libs/magnificPopup/magnific-popup.sass";
// @import "../libs/swiper/swiper.min.css";
// @import "../libs/select2-4.0.6-rc.1/dist/css/select2.min";
// @import "../libs/dropzone";
// @import "../libs/gijgo-master/dist/combined/css/gijgo";
@import "../libs/EasyZoom/css/easyzoom.css";
// @import "../libs/EasyZoom/css/pygments.css";
@import "../libs/slick/slick.scss";
@import "../libs/animate.scss";
// @import "../libs/ion.rangeSlider/css/ion.rangeSlider.min.css";

@import "base";



@import '../pug/blocks/**/*.scss';

@import "media";// Всегда в конце


.site-page{
  list-style-type: none;
  border-left: 1px solid $secondary;
  // pl
  padding-left: rem(25px);
  padding-bottom: 0;
  ul{
    border-left: 1px solid $secondary;

  }
  li{
    // border-bottom: 1px solid #000;
    a{

    }
  }
  ul{
    list-style-type: none;
    padding-left: rem(25px);
    @extend .h6;
  }
  a{
    display: inline-block;
    @extend .body-link;
    margin-bottom: 0.5em;
  }
}