mixin header-block-new()
	// start header-block-new
	+b.SECTION.header-block-new.section#header-block-new&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 header-block-new
				
			.row
	// end header-block-new