.main-wrapper {

	@include media-breakpoint-up(xxl) {

		// width: rem(293);
		// width: rem(293);
		padding-left: rem(293);

		@media (min-width: 1900px) {

			.container {
				padding-left: rem(34);
			}
		}
	}

	@include media-breakpoint-up(xl) {
		padding-left: rem(293);
	}
}

.aside {
	a{
		@include mt;
	}
	&__link-btn{
		font-size: 12px;
		color: #ffffff !important;
		border-radius: 5px;
		border: 1px solid $primary;
		display: block;
		padding-top: rem(10);
		padding-bottom: rem(10);
		margin-left: rem(20);
		margin-right: rem(20);
		margin-bottom: rem(30);
		position: relative;
		.icon{
			position: absolute;
			left: 15px;
			@include a-cent(y);
			color: $primary;
			opacity: 0.99;
			font-size: $small;
		}
	}
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1030;
	@include mt(.3);

	@include media-breakpoint-up(xl) {
		transform: translateX(0) !important;
		max-width: rem(293);

		&.before-loaded {
			transform: translateX(-100%) !important;
		}
	}

	transform: translateX(-100%);

	@include media-breakpoint-up(xxl) {
		max-width: rem(293);
	}

	@include media-breakpoint-up(sm) {
		max-width: rem(293);
	}

	width: 100%;

	&.active {
		transform: translateX(0);
	}




	&__logo {
		@include media-breakpoint-up(xxl) {

			margin-bottom: rem(20);
		}

		margin-bottom: rem(20 * .6);

		img {
			@include media-breakpoint-up(xxl) {

				max-width: rem(160);
			}

			max-width: rem(120);
		}
	}


	&__foot,
	&__head {
		// padding: rem(28) rem(15); 
		
		@include media-breakpoint-up(xxl) {
			padding-bottom: rem(13);

			padding-left: rem(30);
			padding-right: rem(30);
		}
		@include media-breakpoint-up(sm) {

			// max-width: rem(273);
		}
		// @include media-breakpoint-up(xl) {

		// }
		@include media-breakpoint-up(sm) {

			padding-left: rem(15);
			padding-right: rem(15);
		}
		padding-left: rem(20);
		padding-right: rem(20);

	}

	&__copy {
		color: #6b6b6b;

		font-size: rem(12px);
		font-weight: 700;
		line-height: 1.83;
		text-transform: uppercase;
		// Text style for "все права"
		letter-spacing: rem(0.96px);
	}

	.toggle-menu-mobile {
		position: absolute;
		left: rem(42);
		top: rem(50);
	}

	.form-wrap {
		position: relative;

		&__btn-search {
			position: absolute;
			background: none;
			box-shadow: none;
			border: none;
			@include media-breakpoint-up(sm) {
				right: auto;
				left: rem(15);
			}
			right: rem(15);

			top: rem(12);

			.icon {
				color: $gray2;
				font-size: rem(16);
			}
		}

		&__input {
			@include media-breakpoint-up(sm) {
				padding-right: rem(15);
				padding-left: rem(47);
			}
			padding-right: rem(47);
			text-align: left;
			font-size: $small;
			padding-top: rem(12);
			padding-bottom: rem(12);
			height: unset;
		}
	}

	&__foot {
		text-align: center;
		@include media-breakpoint-up(xl) {
		padding-bottom: 0;
		}
		padding-bottom: rem(150);
	}
	&__foot{
	}
	.site-nav{
		margin-bottom: rem(5);
	}
	&__link-city {
		color: #ffffff !important;
		text-decoration: none !important;
		display: inline-block;

		@include media-breakpoint-up(xl) {

			margin-bottom: rem(26);
		}

		margin-bottom: rem(6);

		.icon {
			color: $primary;
			font-size: rem(12);
			margin-right: rem(10);
			position: relative;
			top: rem(-1);
		}
	}

	&__mail {
		color: #b2aeac;
		display: inline-block;

		@include media-breakpoint-up(xxl) {

			margin-bottom: rem(20);
		}

		margin-bottom: rem(10);

		&:hover {
			color: #ffffff;
		}
	}

	&__link--tel {
		@extend .text-white;
	}

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {

		&__head{
			padding-top: rem(30);
		}
		margin-top: rem(90);
		// border-top: 1px solid #000;
		border-top: 1px solid  #413e3c;
		&__inner{
			padding-top: rem(30);
			// pt
			min-height: calc(100vh - #{rem(90)});
		}
	}

	@include media-breakpoint-down(md) {

	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
		&__inner {

			padding-bottom: 200px;
		}
	}

	&__inner {
		background-color: #3b3836;
		color: #ffffff;
		text-align: center;
		height: 100vh;
		@include media-breakpoint-down(xs) {
			// position: relative;
		}

		@include media-breakpoint-up(xxl) {
			padding-top: rem(30);
			padding-bottom: rem(30);
		}

		@include media-breakpoint-up(xl) {
			padding-top: rem(12);
			padding-bottom: rem(12);
		}
		padding-bottom: rem(12);

		// @include media-breakpoint-up(xl){

		// }

		
		// padding-top: rem(70);
		padding-top: rem(90);
		display: flex;
		flex-direction: column;
		@include media-breakpoint-down(xs) {
			.d-sm-none{

				order: -1	;
			}
			.aside__head{
				order: 2	;
			}
					}
			// flex-direction: column-reverse;
			// 		overflow-x: hidden;
			// 		justify-content: flex-end;
	
		overflow-y: auto;
		// position: static;

	}

	&__foot {
		margin-top: auto;
	}
}

.site-nav {

	text-align: left;

	// position: relative;
	&__item {

		// position: relative;
		&--has-child {
			.site-nav__link {
				&::after {
					content: '';
					position: absolute;
					@include a-cent(y);
					// left: rem(257);
					right: rem(25);
					width: rem(6);
					height: rem(8);
					background-size: 100% 100%;
					background-repeat: no-repeat;
					z-index: 5;
					background-image: url(../img/chevron-right-white.svg);
					opacity: 0.7;
				}
			}
		}

		&:hover {
			.sub-menu-wrap {
				// display: inline-block;
				display: block;
			}

			.site-nav__link {
				color: #ffffff;
				background-color: #413e3c;

				&::after {
					opacity: 1;
				}
			}
		}
	}

	&__link {
		@include media-breakpoint-up(sm) {

			padding-left: rem(30);
			padding-right: rem(30);
		}
		padding-left: rem(20);
		padding-right: rem(20);
		display: block;
		margin-bottom: 0;
		color: #b2aeac;
		@include mt;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 4px;
			height: 100%;
			background-color: $primary;
			opacity: 0;
		}

		&:hover,
		&.active {
			color: #ffffff;

		}

		&.active {
			background-color: #413e3c;

			&::before {
				opacity: 1;
			}
		}

		&--sm {
			padding-top: rem(5);
			padding-bottom: rem(5);
		}

		&--lg {
			@extend .h6;
			padding-top: rem(10);
			padding-bottom: rem(10);
			// margin-bottom: rem(5);
		}
	}

	.sub-menu-wrap {
		@include media-breakpoint-up(sm) {
		display: none;

			position: absolute;
			left: 100%;
			top: 0;
		}
		@include media-breakpoint-down(xs) {
			position: fixed;
			left: 0 !important;
			// top: 0 !important;
			top: 0!important;
			transform: translateX(-100%);
			width: 100%;
		 
			z-index: 1102;
			transition: all .2s ease-in-out;
			
			&.active{
				
				transform: translateX(0);
			}
		}
		@include media-breakpoint-up(sm) {

			&::before {
				content: '';
			width: 50px;
			position: absolute;
			left: -15px;
			height: 100%;
			top: -15px;
		}
	}
		z-index: 1400;
	}

	.sub-menu {
		list-style-type: none;
		// display: none;
		// display: inline-block;
		@include media-breakpoint-up(sm) {

			box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
			border-radius: 3px;
			border: 1px solid #dddddd;
			background-color: #ffffff;
			min-width: rem(270);
			max-height: 100vh;
			height: initial;
			margin-left: rem(5);
			padding-bottom: 0;
		}
		padding-bottom: rem(200);
		height: 102vh ;

		background-color: #413e3c;
		overflow-y: auto;
		// display: inline-block;

		// @include mt(.1);
		// overflow: hidden;

		&__item:not(:last-child) {
			@include media-breakpoint-up(sm) {

				border-bottom-color:   #dddddd;
			}
			border-bottom: 1px solid #4c4947;
		}
		&__img-wrap{
			flex-shrink: 0;
			text-align: center;
			width: rem(40);
			margin-right: rem(10);
			text-align: center;
			@include media-breakpoint-down(xs) {
				display: none;
			}
		}
		&__link {
			display: block;
			@include mt;
			line-height: 1.2;
			@include media-breakpoint-up(sm) {

				color: #252525 !important;
			}
			color: #ffffff !important;
			padding: rem(5) rem(15);
			min-height: rem(54);
			display: flex;
			align-items: center;
			@include media-breakpoint-up(sm) {

				&:hover {
					background-color: #fafafa;
				}
			}

		}
	}
}
.hide-parent-js{ 
	background-image: url(../img/arrow-left-white.svg); 
	background-size:($em-base * 2.2) rem(12px * 2.2);
	padding: rem(20) rem(20);
	padding-left: rem(50 * 16 / 12);
	background-position: rem(0) center;
	background-repeat: no-repeat;
	color: #b2aeac;
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	opacity: 0;
	background-color: #3b3836;
	@include mt;
	&.active{
		z-index: 20;
		opacity: 1;
	}
}
.menu {
	list-style-type: none;
	position: relative;
	width: 100%;
	padding-bottom: rem(13);

	&::before {
		content: '';
		background-image: url(../img/svg/nav-border.svg);
		height: rem(7);
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	}

	a {
		color: #ffffff;
		text-decoration: none !important;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;

		@include media-breakpoint-up(xxl) {

			padding-top: rem(35);
			padding-bottom: rem(23);
		}

		padding-top: rem(35 * .7);
		padding-bottom: rem(23 * .7);
		 
		font-size: rem(14px);
		font-weight: 700;
		text-transform: uppercase;
		// Text style for "услуги ,"
		letter-spacing: rem(1.12px);

		&::before {
			content: '';
			background-image: url(../img/svg/nav-border.svg);
			height: rem(7);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
		}

		&.active,
		&:hover {
			.icon {
				color: $primary;
			}
		}

		.icon {

			@include mt;

			@include media-breakpoint-up(xxl) {

				margin-bottom: rem(18);
			}

			margin-bottom: rem(8);
			display: inline-block;
		}
	}

	.icon-mnu {
		&-1 {
			@include media-breakpoint-up(xxl) {

				font-size: rem(38);
			}

			font-size: rem(34);
		}

		&-2 {
			font-size: rem(38);
		}

		&-3 {
			font-size: rem(38);
		}

		&-4 {
			font-size: rem(34);
		}

	}
}