mixin s-applications()
	// start s-applications
	+b.s-applications.section#s-applications.lazy-background&attributes(attributes)
		.container
			block
			.row 
				+e.col.col-xl-auto.col Возведение стен,
					br
					| оград, заборов,
					br
					| цоколя, отмостки
					br
					| откосов и&nbsp;др.
				
				+e.col.col-xl-auto.col Возведение
					br
					| гидротехнических
					br
					| каналов, плотин,
					br
					| дамб и&nbsp;отстойников
				
				+e.col.col-xl-auto.col Возведение
					br
					| массивных
					br
					| железобетонных
					br
					| сооружений
				
				+e.col.col-xl-auto.col Ремонт
					br
					| автомобильных
					br
					| дорог
				
				+e.col.col-xl-auto.col Сооружение
					br
					| мостовых опор
				
	// end s-applications

mixin s-applications-whithoutItem()
	// start s-applications
	+b.s-applications.section#s-applications.lazy-background&attributes(attributes)
		.container
			block
		 
	// end s-applications

