mixin footer-white()
	// start footer-white
	+b.FOOTER.footer-white#footer-white&attributes(attributes)
		.container 
			.row
				+e.col.col-md-auto «Первая нерудная компания». Все права защищены, © 2019
				+e.col.col-md-auto.order-md-first
					a.link-color(href="#") Политика конфиденциальности


				+e.col.col-md-auto Разработка сайта — 
					| 
					a.link-color(href="#") Ishmetov
	// end footer-white