.s-values {
	counter-reset: num;
	.section-title{
		margin-bottom: em(11);
	}
	&__item {
		position: relative; 
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		// opacity: 0.6;
		// opacity: 0.7; 
		@extend h6;
		margin-bottom: 0;
		border-radius: 5px;
		font-weight: bold;
		padding: em(20) em(28);
		@include media-breakpoint-up(xl) {

			height: rem(380px);
		}
		height: rem(358px);
		line-height: (28 / 18);
		overflow: hidden;
		&::before{
		 opacity: 0.3;

		}
		// &:hover{
		// 	&::before{
		// 		opacity: 0.5 !important;
		// 	}
		// }
		&::after {
			content: '0'counter(num);
			counter-increment: num;
			display: block;
			text-align: right;
		} 
			min-height: 100%;
			color: #ffffff;
	}

	&__col{
		margin-bottom: 30px;
	}
	&__text{
			max-width: em(300);
	}
	//
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}