mixin s-shipping()
	// start s-shipping
	+b.s-shipping--new.section.bg-light#s-shipping.lazy-background&attributes(attributes)
		.container
			+e.wrap
				block
				img.lazy.res-i.d-md-none(src="#" data-src="img/@2x/shippimg-img.png", alt="")
				p Доставка материала до&nbsp;объекта заказчика осуществляется автотранспортом: самосвалы КАМАЗ с&nbsp;объемом кузова 10&nbsp;м3, 15&nbsp;м3&nbsp;и&nbsp;30&nbsp;м3.

				p Доставка продукции автотранспортом является самым быстрым способом&nbsp;доставки.

				p 
					strong 1&nbsp;день в&nbsp;среднем требуется на&nbsp;погрузку.
				a.popup-with-move-anim(href="#modal-call-new" data-title="Заказать доставку" data-btn="Заказать доставку") Заказать доставку
			//- +e.slider.slider--js.swiper-container
			//- 	.swiper-wrapper
			//- 		mixin prod(i,  p)
			//- 			+e.col.col-md.swiper-slide
			//- 				+e.item.img-animate(href="#" )&attributes(attributes)
			//- 					img.lazy.d-none.d-md-block(src="#" data-src=`img/shipping-${i}.jpg` alt="") 
			//- 					+e.DIV.caption
			//- 						block
			//- 						+e.DIV.text= p
			//- 						+e.btn(type="button") Подробнее
			//- 			// /+e.col.col
			//- 		+prod('1','Самый быстрый способ доставки')
			//- 			+e.title Доставка
			//- 				br
			//- 				| автотранспортом
			//- 				.text-primary от 40 тонн

			//- 		+prod('2','Самый экономичный способ доставки')
			//- 			+e.title Доставка
			//- 				br
			//- 				| ЖД-вагонами
			//- 				.text-primary от 69 тонн
					

			//- 		+prod('3','Оптимальный способ доставки больших объемов')
			//- 			+e.title Доставка
			//- 				br
			//- 				| баржами по воде
			//- 				.text-primary от 1 500 тонн
			//- 	.swiper-pagination

	// end s-shipping

mixin s-shipping-04()
	// start s-shipping
	+b.s-shipping.section#s-shipping.lazy-background&attributes(attributes)
		.container
			block
			.row
				mixin prod(i,  p)
					+e.col.col-md
						+e.item.img-animate(href="#" )&attributes(attributes)
							img.lazy.d-none.d-md-block(src="#" data-src=`img/shipping-${i}.jpg` alt="") 
							+e.DIV.caption
								block
								+e.DIV.text= p
								+e.btn(type="button") Подробнее
					// /+e.col.col
				+prod('1','Самый быстрый способ доставки')
					+e.title Доставка
						br
						| автотранспортом
						.text-primary от 40 тонн

				+prod('2','Самый экономичный способ доставки')
					+e.title Доставка
						br
						| ЖД-вагонами
						.text-primary от 69 тонн
				

				+prod('3','Оптимальный способ доставки больших объемов')
					+e.title Доставка
						br
						| баржами по воде
						.text-primary от 1 500 тонн 
	// end s-shipping

