extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-prod/_s-prod.pug
include ../blocks/s-shipping/_s-shipping.pug
include ../blocks/s-geo/_s-geo.pug
include ../blocks/s-now/_s-now.pug
include ../blocks/s-team/_s-team.pug
include ../blocks/s-client/_s-client.pug
include ../blocks/s-objects/_s-objects.pug
include ../blocks/s-calc/_s-calc.pug
include ../blocks/aside-nav/_aside-nav.pug

block variables
	- let  mainPage= null
block title
	- let  title= '6. Реализованные проекты'
	title= title

block pagecontent
	+header() 
		+top-line()
		+breadcrumb2('главная','Реализованные проекты')
	+b.page-head.container 
			h1.mb-0 Реализованные проекты
	+s-objects-04
	+s-departure
	+footer()
