mixin s-steps()
	// start s-steps
	+b.SECTION.s-steps.section#s-steps&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Этапы работ
				
			ol
				mixin li(t)
					li
						strong= t
						block
				+li("Заключение договора на вывоз снега")
					| Для заключения договора на&nbsp;вывоз снега вы&nbsp;можете приехать к&nbsp;нам в&nbsp;офис либо пригласить нашего менеджера. Контактный телефон: <a href="tel:+7(917)926-27-77:"> +7 (917) 926-27-77</a>
				+li("Подача заявки на вывоз снега")
					| Заявки на&nbsp;вывоз снега принимаются круглосуточно по&nbsp;телефону диспетчерской службы:  <a href="tel:+7(917)926-27-77"> +7 (917) 926-27-77</a> или через персонального менеджера.
				+li("Выполнение заявки")
					| Вы&nbsp;можете воспользоваться различными вариантами оказания услуги по&nbsp;вывозу снега: разовый вывоз или абонентское обслуживание (гарантирует приоритетность вашим заявкам). При необходимости вы&nbsp;можете воспользоваться услугами нашей снегоуборочной техники.
				+li("Оформление документов")
					| По&nbsp;окончании месяца ваш персональный менеджер собирает все данные о&nbsp;вывозах снега и&nbsp;готовит акты выполненных работ.
			+e.btn.popup-with-move-anim(href="#modal-call-new" data-title="Оставить заявку" data-btn="Оставить заявку") Заявка на вывоз снега
	// end s-steps