.s-card-head {
	@include media-breakpoint-up(lg) {

		padding-bottom: rem(25);
	}
	
	@include media-breakpoint-up(md) {

		padding-bottom: rem(40);
	}

	.h6{
		@include media-breakpoint-up(md) {

			max-width: em(500);
		}
	}

		&.visible{
		
		}

		&__img-wrap{
			display: block;
			@include block; 
			background-color: $light;
			>img{

				max-width: 100%;
			}
			@include media-breakpoint-up(md) {
				max-height: none
			}
			max-height: 200px;
		}
		&__slide{
			margin-bottom: 14px;
		}
		&__slider-wrap{
			margin-top: rem(10);
			@include media-breakpoint-up(xxl) {

				margin-left: -30px;
			}
			position: relative;
			// max-width: 100%;
			@include media-breakpoint-up(md) {
				padding-bottom: 0;
			}
			padding-bottom: 15px;
		}
 
		&__presense{
			color: #848484;
			margin-bottom: em(20);
		}
		&__row{
			@include roww(7)
		}
	
		.swiper-button-hand{
			background-color: #ffffff;
			border-color: #fff;
			&-prev{
				left: 15px;
			}
			&-next{
				right: 15px;
			}
			// opacity: 1;
		}
		
		&__btn{
			margin-left: auto;
			margin-right: auto;
			width: 152px;
			@extend .btn-primary;
			@extend .btn;
			display: block;
			margin-bottom: rem(40);
		}
		
		&__img-wrap--bz{
			@include media-breakpoint-down(md) {
				margin-bottom: rem(30);
			}
			// @include block(555,428);
			&::before{

				padding-bottom: (  428 / 555 * 100%);
			}

		}

	//
	@include media-breakpoint-up(xl) {
		padding-top: rem(32);
	}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {
		padding-top: rem(20);
		// &__label,
		.swiper-button-hand{
			display: none !important;
		}
		padding-bottom: rem(40);
	}
	@include media-breakpoint-down(xs) {
	} 
&__slide{
	@include clearfix;
}
}

.prod-btn{
	&--head{
		margin-bottom: 1.4rem;
	}
 
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #dddddd;
	@include media-breakpoint-down(sm) {
		border-width: 1px;
} 
font-size: 1rem;
@include media-breakpoint-down(xs) {
	font-size: 12px;
} 
	// background-color: #f2f1f0;
	text-align: center;
	// @include mt;
	display: block; 
	@include media-breakpoint-up(lg) {
		padding: rem(10) rem(9);
	}
	padding: rem(10) rem(7);
// padding: em(7) em(10);
	margin-bottom: em(11);
	min-width: rem(66);
	@extend .text-body;
	@include media-breakpoint-up(sm) {
		
		&:hover{
			border-color: $accent;
			box-shadow: inset 0 0 0 1px $accent;
		}
	}
	&.active,
	&--active{
		border-color: $accent;
		background-color: #ffffff;
		box-shadow: inset 0 0 0 1px $accent;
	}
	&--lg{
		cursor: default;
		@include media-breakpoint-up(xl) {
			font-size: $h5-font-size;
			margin-bottom: em(22);
		}
		margin-bottom: em(15);
		@include font-size($h55-font-size); 
		display: inline-block;
		@include media-breakpoint-down(sm) {
			border: none;
		}
	}
	&--shipping{
		@include media-breakpoint-down(sm) {
			// border: none;
			font-weight: bold;
			font-size: calc(1.105rem + 1.74vw);
			// margin-top: 5px;
			padding-top: rem(5px);
			padding-bottom: 0px;
			margin-bottom: rem(20px);
			color: $primary !important;
			// margin-bottom: 0;
		}
	}
	&--radio{
		border: none !important;
		box-shadow: none !important; 
		position: relative;
		padding-left: rem(32) !important;
		padding-right: rem(20);
		@include media-breakpoint-up(sm) {
			padding-bottom: rem(8);
			padding-top: rem(8);
			margin-top: 0;
		}
		margin-top: rem(8);
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;

		&::before{
			content: '';
			position: absolute;
			left: 0;
		}
	}
	&__lab{
		display: block;
		position: absolute;
		left: 0;
		@include a-cent(y);
		width: rem(20);
		height: rem(20);
		border: 1px solid #dddddd;
		border-radius: 50%;
		&::after,
		&::before{
			content: '';
			@include a-cent;
			border-radius: 50%;
			opacity: 0;
		}
		&::after{
			width: rem(10px);
			height: rem(10px);
			background-color: $accent;
		}
		&::before{ 
			width: rem(20);
			height: rem(20);
			border: 2px solid  $accent;
		}
	}
}
.prod-btn-input{
	@extend .invisible;
}
.prod-btn-input:checked + .prod-btn{
	
	.prod-btn__lab{
		&::before,
		&::after{
			opacity: 1;
		}
	}
}
.row-btns{
	@include roww(5);
	@media (max-width: 1470px) {
	@include roww(5);
	}
	margin-bottom: rem(15);
}
.group-title{
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: rem(13);
}
.prod-pagination{
	// @include roww(8);
	text-align: center;
	// padding-top: 10px;
	@include media-breakpoint-up(md) {
		padding-top: 0;
		display: flex;
	 
	}
	.swiper-pagination-bullet{
		cursor: pointer;
		@include media-breakpoint-up(md) {

			@include mt; 
			margin-left: 0 !important;
			margin-right: 15px !important;
			&:last-child{
				margin-right: 0 !important;
			}
			width: calc(50% - 30px) !important;  
			// height: 0 !important;
			
			display: block !important; 
			border-radius: 5px !important; 
			border: 2px solid #fff; 
			
			
			height: auto !important;
			&::before{
				content: '';
				padding-bottom: 100%;
				display: block;
				height: 0;
			}
			// background: none !important;
			&-active{ 
				border-color: $primary;
				@include transform(scale(.99)); 
			}
		}
		@include media-breakpoint-down(sm) {
			background-image: none !important;
		}
	}
}


 

/* Shrink wrap strategy 2 */
// .easyzoom {
// 	display: inline-block;
// }
// .easyzoom img {
// 	cursor: crosshair;
// 	vertical-align: bottom;
// }


.easyzoom {
	// float: left;
	display: inline-block;
	width: 100%;
	height: 100%;
	// z-index: 10000;
	position: relative;
}
.easyzoom img {
	// display: block;
	vertical-align: bottom;
	// vertical-align: bottom;
}
@include media-breakpoint-down(xs) {
	.easyzoom-flyout{
		display: none !important;
	}
}

.row-small{
	@include roww(10);
}