.top-line {
  background-color: #3b3836;
  padding-top: rem(10);
	padding-bottom: rem(10);
	@include media-breakpoint-up(xl) {
		position: relative;

	}
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
  z-index: 1021;
  .row{
    justify-content: space-between;
    align-items: center;
  }
	
	&__logo{
		display: block;
		width: rem(100 * 1.4);
    height: rem(50 * 1.4);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
		img{
      @extend .res-i;
      max-height: 100%;
		}
		@include media-breakpoint-up(lg) {
			max-width: none;
		}
		max-width: 107px;
  }
  
	&__link--tel{
		display: inline-flex;
		align-items: center;
		color: #ffffff !important;
		font-weight: bold;
		margin-bottom: rem(5);
	}
	&__icon-wrap{
		@extend .btn-primary;
		width: $h3-font-size;
		height: $h3-font-size;
		line-height: $h3-font-size;
		vertical-align: middle;
		border-radius: 50%;
		text-align: center;
		margin-right: rem(10);
		.icon{
			margin-right: 0;
			font-size: $small;
			color: #252525 ;
		}
	}
	&__link-city{
		.icon{

			font-size: 14px;
		}
	}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {
	&__col{
		width: 50px;
		text-align: right;
	}
}
}