mixin top-line()
	// start .top-line
	+b.top-line
		+e.inner.d-xl-none 
			.container
				.row
					.col-auto
						+b.toggle-menu-mobile--js2
							span
							+e.text.d-none.d-sm-inline Открыть меню
					.col-auto
						+e.logo
							a(href="/")
								img(src="img/logo.png", alt="")
					+e.col.col-auto
						.d-none.d-sm-block
							+e.link--tel(href="tel:8(800)100-73-75") 
								+e.icon-wrap
									+icon("call")
								| +7 (917) 926-27-77
						.d-sm-none
							+e.link-city.popup-with-move-anim(href="#modal-city")
								+icon('mark')
		+aside
	// end .top-line