mixin s-searching-results()
	// start s-searching-results
	+b.SECTION.s-searching-results.section#s-searching-results&attributes(attributes)
		.container
			+b.section-title
				h1 Результаты поиска
				h3 Результаты поиска по запросу: <span class="results"> щебень</span>
			.result-item
				.result-wrap
					p <span class="request"> Щебень </span> гранитный
				+e.btn-to-go(href="#") Перейти
			.result-item
				.result-wrap
					p <span class="request"> Щебень </span> известняковый
				+e.btn-to-go(href="#") Перейти
			.result-item
				.result-wrap
					p <span class="request"> Щебень </span> гранитный
				+e.btn-to-go(href="#") Перейти
			.result-item
				.result-wrap
					p <span class="request"> Щебень </span> известняковый
				+e.btn-to-go(href="#") Перейти
			.result-item
				.result-wrap
					p <span class="request"> Щебень </span> гранитный
				+e.btn-to-go(href="#") Перейти
			.result-item
				.result-wrap
					p <span class="request"> Щебень </span> известняковый
				+e.btn-to-go(href="#") Перейти
			.result-item
				.result-wrap
					p <span class="request"> Щебень </span> гранитный
				+e.btn-to-go(href="#") Перейти
			.result-item
				.result-wrap
					p <span class="request"> Щебень </span> известняковый
				+e.btn-to-go(href="#") Перейти
			.result-item
				.result-wrap
					p <span class="request"> Щебень </span> гранитный
				+e.btn-to-go(href="#") Перейти
			.result-item
				.result-wrap
					p <span class="request"> Щебень </span> известняковый
				+e.btn-to-go(href="#") Перейти
			.show-more.text-center
				button(type="button") Показать еще
	// end s-searching-results