
mixin mob-mnu()
	
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
		
			+mnu()
			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.d-none.d-md-block&attributes(attributes)
		+e.container.container
			.row 
				.col
					block
					

				+e.col.col-auto.d-none.d-xl-block
					+e.link--tel(href="tel:8(800)100-73-75") 
						+e.icon-wrap
							+icon("call")
						| +7 (917) 926-27-77


					
	// end top-nav