mixin header-block-body()
	// start header-block
	+b.header-block#header-block&attributes(attributes) 
		
		
		block 
	// end header-block
mixin header-block()
	+header-block-body()(class="header-block--main") 

		+e.body
			.container 
				+e.text--top Сэкономьте ваше время, деньги и&nbsp;нервы, доверив поставку нам
				h1 Щебень, песок, ПГС, ОПГС, гравий по&nbsp;оптовым ценам от&nbsp;260 руб за&nbsp;тонну с&nbsp;НДС
				+e.title-payment Рассчитайте поставку и&nbsp;получите уже завтра на&nbsp;вашем объекте до&nbsp;2000 тонн материала
		.container 
			+form-payment()

mixin header-block-09()
	+header-block-body()(class="header-block--rew header-block--table")
		+e.td
			.container
				h1 Отзывы клиентов о&nbsp;сотрудничестве с&nbsp;нашей компанией
				+e.text--top.h55.d-sm-block.d-none За&nbsp;долгие годы работы к&nbsp;нам обратились множество клиентов с&nbsp;разными потребностями. Спасибо за&nbsp;ваше доверие.
				.row.justify-content-between
					.col-md-6.col-12
						+e.text-block
							//- +e.text.d-sm-block.d-none Оставьте заявку прямо сейчас и&nbsp;получите материал на&nbsp;выгодных услов
							+e.btn--js(href="#"  ) Смотреть отзывы
					.col-auto.d-md-block.d-none
						+e.item
							+e.count 7&nbsp;лет
							+e.text успешной работы
								br
								| с&nbsp;2012 года
					.col-auto.d-md-block.d-none
						+e.item
							+e.count 6&nbsp;560
							+e.text клиентов за&nbsp;последние
								br
								| 4&nbsp;года 

mixin header-block-04() 
	+header-block-body()(class="header-block--about")
		+e.body-about
			h1 О компании

			+e.text-top.h55.text-primary Первая нерудная компания&nbsp;&mdash; надежный партнер и&nbsp;ведущий поставщик нерудных материалов по&nbsp;Республике Татарстан и&nbsp;Республике Башкортостан
mixin header-block-07() 
	+header-block-body()(class="header-block--contact   header-block--table")
		+e.td
			.container
				//- <div class="header-block__logo text-center d-sm-none"><img class="res-i" src="img/logo.png" alt=""></div>
				.row
					.col-lg-6.col.align-self-lg-center
						h1 Контакты
						+e.text--contract.h55.d-none.d-md-block Чтобы обсудить условия поставки или другой вопрос, свяжитесь с&nbsp;нами
					.col-lg-auto 
						+e.group
							+e.link--tel.h2.strong(href="tel:8(800)100-73-75") 8 (800) 100-73-75
							+e.text--top.h55 Отдел по работе с клиентами
						
						+e.group
							+e.link--tel.h2.strong(href="tel:8(800)100-73-75") 8 (800) 100-73-75
							+e.text--top.h55 Отдел продаж
						
						+e.group.d-none.d-md-block
							+e.link--mail.h4.strong(href="tel:info@pn-company.ru") info@pn-company.ru
							+e.text--sm.h6 Техническая поддержка клиентов
					