.s-about-text {
	&__title{
		@extend .h1;
		@extend .text-primary;
		font-weight: bold;
		margin-bottom: em(6);
	}
	&__text{

		@include media-breakpoint-up(md) {

			max-width: em(300);
		}
		max-width: em(420);
		margin-left: auto;
		margin-right: auto;
	}
	&__col{
		@include media-breakpoint-down(md) {

			margin-bottom: rem(30);
		}
		line-height: 1.6;
		@extend .h6;
	}

	&__img-wrap{
		@include media-breakpoint-up(lg) {

			height: rem(125);
			line-height: rem(125);
		}
		height: rem(90);
		line-height: rem(90);
		vertical-align: middle;
		margin-bottom: rem(20);
		img{
			max-height: 100%;
			max-width: rem(100);
		}
	}
	//
	@include media-breakpoint-up(xl) {
		// padding-top: 185px;
		padding-bottom: rem(70px);
		
		&--project{
			
			padding-bottom: 15px;
		}
	}
	&--project{
			
		padding-bottom: 15px !important;
	}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}