extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-prod/_s-prod.pug
include ../blocks/s-shipping/_s-shipping.pug
include ../blocks/s-geo/_s-geo.pug
include ../blocks/s-now/_s-now.pug
include ../blocks/s-team/_s-team.pug
include ../blocks/s-client/_s-client.pug
include ../blocks/s-objects/_s-objects.pug
include ../blocks/s-calc/_s-calc.pug
include ../blocks/aside-nav/_aside-nav.pug

include ../blocks/s-card-head/_s-card-head.pug
include ../blocks/s-category/_s-category.pug
include ../blocks/s-video/_s-video.pug
include ../blocks/s-char/_s-char.pug
include ../blocks/s-applications/_s-applications.pug
include ../blocks/s-shipping2/_s-shipping2.pug
include ../blocks/s-text/_s-text.pug
include ../blocks/s-why/_s-why.pug

block title
	title 2.5.2.1 Бутовый камень фракции 70-120


block pagecontent
	+header() 
		+top-nav()(class="fixed-page ")
		//- +header-block()
	+b.main-row.row.no-gutters
		+e.col-aside.col-xl-auto 
			+e.current-nav.toggle-btn-js.d-xl-none
				.container Продукция
			
			+aside-nav



		+e.col-main.col
			+s-card-head('Бутовый камень фракции 70-120','по оптовым ценам', 'от 400 руб/тн с НДС', 'but','2-2','2-3','2-4')
				
				.p Прочность: М1000, М1200
				.p Морозостойкость: до 300 циклов
				.p Плотность бутового камня: 1,45 т/м3
				.p Радиоактивность: в пределах нормы


			+s-prod-02-5(class="section-border-bottom")

			// start s-text
			+b.s-text.section#s-text.lazy-background(class="section-border-bottom")&attributes(attributes)
				.container 
					.row
						+item-text-whithoutIcon('Выгодные условия')
							+e.text Мы&nbsp;всегда готовы предложить выгодные условия для наших клиентов.
						+item-text-whithoutIcon('Неизменность цены')
							+e.text Все непредвиденные расходы мы&nbsp;берем на&nbsp;себя, вы&nbsp;платите только оговоренную сумму.
						+item-text-whithoutIcon('Доступная цена')
							+e.text Мы&nbsp;снизили производственные издержки за&nbsp;счет полноценной логистики и&nbsp;развитию собственных карьеров. Именно поэтому, стоимость наших материалов остается доступной.
						+item-text-whithoutIcon('Программа лояльности (бонусы)')
							+e.text Предоставляем закупщикам дополнительный стимул к&nbsp;организации более эффективных закупок.
			// end s-text
			
			//- +s-category(class="section-border-bottom d-none d-md-block")
				.col-md-6
					+s-category-item('Щебень','5-20','20-20','40-70','70-120')
						+card-head-radio('M400','M600','M800','M1000','M1200','M1400')
						+card-head-radio('Гранитный','Известняковый','Жигулевский','Доломитовый')
					



				.col-md-3
					+s-category-item('Узкие фракции','3-10','5-10','10-15', '10-20 ','20-70','25-60')
				.col-md-3
					+s-category-item('Отсев щебня','0-5','0-10','0-20') 
					+s-category-item('Смеси щебня','0-20','0-40','0-80','0-120')
			+s-now-03(class="section-border-bottom")
				.container
					+b.section-title.text-center
						h2 Первая нерудная компания сегодня
						+e.text.text-gray2.fw-400 Основным направлением нашей деятельности является дистрибуция нерудных материалов любых объемов и&nbsp;любыми доступными способами по&nbsp;территории России

			+s-video(class="section-border-bottom")

			//- +char-whitout-item('Характеристики бутового камня ', 'char-stone')
				ul
					li.sand Показатели 
						br
						| радиоактивности 
						br
						| в пределах нормы
					li.sand Высокая 
						br
						| морозостойкость 
						br
						| до 300 циклов
					li.sand Прочность 
						br
						| M1000-M1200
					li.sand Плотность 
						br
						| бутового камня 
						br
						| 1,45 т/м3

			+s-applications(class="section-border-bottom d-none d-md-block")
				+b.section-title.text-center
					h2 Применение бутового камня 
						br.d-none.d-sm-block 
						| фракции 70-120
			+s-shipping2(class="section-border-bottom")
				+b.section-title.text-center
					h2 Доставка бутового камня  
						br.d-none.d-sm-block 
						| фракции 70-120
			+s-text(class="section-border-bottom")

			+s-form-03(class="section-border-bottom")
				+b.section-title
					h2 Бесплатно доставим образцы бутового камня

					+e.text.text-secondary.fw-400 Мы&nbsp;гарантируем качество нашей продукции и&nbsp;отправим 20&nbsp;кг материала для исследований моментально по&nbsp;вашему запросу

			+s-objects-03(class="section-border-bottom")

			+s-geo(class="section-border-bottom bgin")
				+b.section-title.text-center
					h2 География поставок
					+e.text.h55.fw-400.text-secondary Осуществляем поставки от&nbsp;карьера до&nbsp;объекта по&nbsp;Республике Татарстан и&nbsp;Республике Башкортостан

			+s-why(class="section-border-bottom d-none d-md-block")

			+s-calc(class="section-border-bottom")
				+b.section-title.text-center
					h2 Калькулятор поставок
					+e.text.h55.fw-400.text-secondary Узнайте сейчас точную стоимость поставки бутового камня до&nbsp;вашего объекта

			+s-content(class="section-border-bottom")
				h5.strong Бутовый камень оптом фракции 70-120 от ведущего поставщика "Первой нерудной компании"
				p СЕО ТЕКСТ. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
				p СЕО ТЕКСТ. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.

			+s-contact-whithoutTitle
				+b.section-title.text-center.pb-0
					h2 Оставьте заявку прямо сейчас и&nbsp;получите  бутовый камень
					+e.text.h4.strong на выгодных условиях
					.h6 Заполните форму и&nbsp;персональный менеджер свяжется с&nbsp;Вами в&nbsp;течение 15&nbsp;минут
	+footer()