extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-prod/_s-prod.pug
include ../blocks/s-shipping/_s-shipping.pug
include ../blocks/s-geo/_s-geo.pug
include ../blocks/s-now/_s-now.pug
include ../blocks/s-team/_s-team.pug
include ../blocks/s-client/_s-client.pug
include ../blocks/s-objects/_s-objects.pug
include ../blocks/s-calc/_s-calc.pug
include ../blocks/aside-nav/_aside-nav.pug

include ../blocks/s-card-head/_s-card-head.pug
include ../blocks/s-category/_s-category.pug
include ../blocks/s-video/_s-video.pug
include ../blocks/s-char/_s-char.pug
include ../blocks/s-applications/_s-applications.pug
include ../blocks/s-shipping2/_s-shipping2.pug
include ../blocks/s-text/_s-text.pug
include ../blocks/s-why/_s-why.pug

block title
	title 2.8.1 Гравий фракции 5-10


block pagecontent
	+header() 
		+top-nav()(class="fixed-page ")
		//- +header-block()
	+b.main-row.row.no-gutters
		+e.col-aside.col-xl-auto 
			+e.current-nav.toggle-btn-js.d-xl-none
				.container Продукция
			
			+aside-nav



		+e.col-main.col
			+s-card-head('Гравий фракции 5-10','по оптовым ценам', 'Цена по запросу', '8-1','2-2','2-3','2-4')
				
				.p Класс песка: 1 класс
				.p Модуль крупности песка: 2,0-2,5
				.p Коэффициент уплотнения: 1 м3 = 1,4 тонны
				.p Требования ГОСТ: 8736-93


			+s-prod-02-6(class="section-border-bottom")

			// start s-text
			+b.s-text.section#s-text.lazy-background(class="section-border-bottom")&attributes(attributes)
				.container 
					.row
						+item-text-whithoutIcon('Выгодные условия')
							+e.text Мы&nbsp;всегда готовы предложить выгодные условия для наших клиентов.
						+item-text-whithoutIcon('Неизменность цены')
							+e.text Все непредвиденные расходы мы&nbsp;берем на&nbsp;себя, вы&nbsp;платите только оговоренную сумму.
						+item-text-whithoutIcon('Доступная цена')
							+e.text Мы&nbsp;снизили производственные издержки за&nbsp;счет полноценной логистики и&nbsp;развитию собственных карьеров. Именно поэтому, стоимость наших материалов остается доступной.
						+item-text-whithoutIcon('Программа лояльности (бонусы)')
							+e.text Предоставляем закупщикам дополнительный стимул к&nbsp;организации более эффективных закупок.
			// end s-text

			+s-now-03(class="section-border-bottom")
				.container
					+b.section-title.text-center
						h2 Первая нерудная компания сегодня
						+e.text.text-gray2.fw-400 Основным направлением нашей деятельности является дистрибуция нерудных материалов любых объемов и&nbsp;любыми доступными способами по&nbsp;территории России
			+s-video(class="section-border-bottom")
			//- +s-char(class="section-border-bottom d-none d-md-block")
			//- +s-char-02-8(class="section-border-bottom d-none d-md-block")

			//- +s-category(class="section-border-bottom d-none d-md-block")
			//- 	.col-md-6
			//- 		+s-category-item('Щебень','5-20','20-20','40-70','70-120')
			//- 			+card-head-radio('M400','M600','M800','M1000','M1200','M1400')
			//- 			+card-head-radio('Гранитный','Известняковый','Жигулевский','Доломитовый')
					



			//- 	.col-md-3
			//- 		+s-category-item('Отсев щебня','0-5','0-10','0-20')
			//- 		+s-category-item('Смеси щебня','0-20','0-40','0-80','0-120') 
			//- 	.col-md-3
			//- 		+s-category-item('Бутовый камень','70-150','100-300','нестандартный')



			+s-applications-whithoutItem(class="section-border-bottom d-none d-md-block")
				+b.section-title.text-center
					h2 Области применения гравия фракции 5-10
				.row 
					+e.col.col-xl-auto.col  Производство
						br
						| бетона
					+e.col.col-xl-auto.col  Возведение
						br
						| железобетонных
						br
						| конструкций
					+e.col.col-xl-auto.col  Закладка
						br
						| фундамента
					+e.col.col-xl-auto.col  Строительство
						br
						| производвенных
						br
						| зданий
					+e.col.col-xl-auto.col  Сооружение Ж/Д
						br
						| насыпей и строительство
						br
						| трамвайных путей
			+s-shipping2-whithoutItem(class="section-border-bottom")
				+b.section-title.text-center
					h2 Доставка гравия фракции 5-10

			+s-text(class="section-border-bottom")

			+s-form-03(class="section-border-bottom")
				+b.section-title
					h2 Бесплатно доставим образцы гравия

					+e.text.text-secondary.fw-400 Мы&nbsp;гарантируем качество нашей продукции и&nbsp;отправим 20&nbsp;кг материала для исследований моментально по&nbsp;вашему запросу

			+s-objects-03(class="section-border-bottom")

			+s-geo(class="section-border-bottom bgin")
				+b.section-title.text-center
					h2 География поставок
					+e.text.h55.fw-400.text-secondary Осуществляем поставки от&nbsp;карьера до&nbsp;объекта по&nbsp;Республике Татарстан и&nbsp;Республике Башкортостан

			+s-why(class="section-border-bottom d-none d-md-block")

			+s-calc(class="section-border-bottom")
				+b.section-title.text-center
					h2 Калькулятор поставок
					+e.text.h55.fw-400.text-secondary Узнайте сейчас точную стоимость поставки гравия до&nbsp;вашего объекта

			+s-content(class="section-border-bottom")
				h5.strong Гравий оптом фракции 5-10 от ведущего поставщика "Первой нерудной компании"
				p СЕО ТЕКСТ. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
				p СЕО ТЕКСТ. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.

			+s-contact-whithoutTitle
				+b.section-title.text-center.pb-0
					h2 Оставьте заявку прямо сейчас и&nbsp;получите гравий
					+e.text.h4.strong на выгодных условиях
					.h6 Заполните форму и&nbsp;персональный менеджер свяжется с&nbsp;Вами в&nbsp;течение 15&nbsp;минут
	+footer()