extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-prod/_s-prod.pug
//- include ../blocks/s-shipping/_s-shipping.pug
//- include ../blocks/s-geo/_s-geo.pug
include ../blocks/s-now/_s-now.pug
include ../blocks/s-team/_s-team.pug
include ../blocks/s-client/_s-client.pug
//- include ../blocks/s-objects/_s-objects.pug
//- include ../blocks/s-calc/_s-calc.pug
include ../blocks/s-why/_s-why.pug

include ../blocks/s-about-text/_s-about-text.pug
include ../blocks/s-director/_s-director.pug
include ../blocks/s-problems/_s-problems.pug
include ../blocks/s-work/_s-work.pug
include ../blocks/s-conditions/_s-conditions.pug
include ../blocks/s-values/_s-values.pug

block title
	title  4. О компании

block pagecontent
	+header() 
		+top-nav()(class="top-nav--js")
		+header-block-04()
	+s-about-text(class="section-border-bottom")
	+s-director
	+s-why-04
	+s-problems(class="section-border-bottom")
	 
	+s-values
	+s-team-04
	+s-work
	+s-conditions
	+s-form-04
		+b.section-title
			+e.block
				.h3.strong.pb-3  Среди реализованных проектов:
				.h6.pb-2 
					a.body-link(href="#")  Строительство Особо Экономической Зоны (ОЭЗ Алабуга)
					.text-gray2 2017-2018
				.h6.pb-2 
					a.body-link(href="#") Строительство Федеральной трассы М7
					.text-gray2 2016-2017
				
				.h6.pb-2 
					a.body-link(href="#") Строительство автосалонов грузовой техники DAF
					.text-gray2 2016-2017
				
				.h6.pb-2 
					a.body-link(href="#")  Строительство железнодорожных линий по&nbsp;Республике Татарстан
					.text-gray2 2015
	+footer()
	
	