extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-prod/_s-prod.pug
include ../blocks/s-shipping/_s-shipping.pug
include ../blocks/s-geo/_s-geo.pug
include ../blocks/s-now/_s-now.pug
include ../blocks/s-team/_s-team.pug
include ../blocks/s-client/_s-client.pug
include ../blocks/s-objects/_s-objects.pug
include ../blocks/s-calc/_s-calc.pug
include ../blocks/s-rew/_s-rew.pug
include ../blocks/s-rew-gal/_s-rew-gal.pug

block title
	title 8. Отзывы клиентов

block pagecontent
	+header() 
		+top-nav()(class="top-nav--js")
		+header-block-09()
		
	+s-rew(class="section-border-bottom")
	+s-rew-gal
	//- +s-contact()
	+footer()
	
	