extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-prod/_s-prod.pug
include ../blocks/s-shipping/_s-shipping.pug
include ../blocks/s-geo/_s-geo.pug
include ../blocks/s-now/_s-now.pug
include ../blocks/s-team/_s-team.pug
include ../blocks/s-client/_s-client.pug
include ../blocks/s-objects/_s-objects.pug
include ../blocks/s-calc/_s-calc.pug
include ../blocks/aside-nav/_aside-nav.pug
include ../blocks/s-about-text/_s-about-text.pug
include ../blocks/s-applications/_s-applications.pug
include ../blocks/s-project-head/_s-project-head.pug
include ../blocks/s-soc/_s-soc.pug
include ../blocks/s-gal/_s-gal.pug

block title
	title 14.1. Cтраница новости


block pagecontent
	+header() 
		+top-nav()(class="fixed-page ")
		//- +header-block()
	+b.main-row.row.no-gutters
		+e.col-aside.col-xl-auto 
			+e.current-nav.toggle-btn-js.d-xl-none
				.container Новости
			
			+aside-nav



		+e.col-main--block-2.col  
			+s-project-head-2
			+s-content
				p Деятельность любого промышленного производства стоит на «трех китах»: отточенная работа специалистов, качественное сырье для изготовления деталей и высокотехнологичное оборудование. Без этого не обойтись ни комплексу, 
					|
					strong организованному в крупных масштабах, ни частному производственному цеху.

				p Но, именно современное металлообрабатывающее оборудование с ЧПУ способно решить поставленные перед производством задачи во многих областях: 
					|
					a(href="#") автомобильной, нефтегазовой, судостроительной и аэрокосмической
					|. Например, качественно выполнить высокоточную обработку сложнейших деталей: детали системы впрыска топлива, элементы теплообменника, рабочее колесо турбины и тому подобное.

				p Поэтому ведущие предприятия уже давно подходят к выбору оборудования особенно серьезно: регулярно повышая требования к оборудованию и находясь 
					|  
					a(href="#") в постоянном поиске совершенного
					|. Следовательно, продолжая следить за мировыми тенденциями в металлообрабатывающей промышленности. 
			+s-soc('Поделиться новостью')(class="pt-0")
		
		 
	+footer()