extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-doc/_s-doc.pug
include ../blocks/s-shipping/_s-shipping.pug
include ../blocks/s-geo/_s-geo.pug
include ../blocks/s-now/_s-now.pug
include ../blocks/s-team/_s-team.pug
include ../blocks/s-client/_s-client.pug
include ../blocks/s-objects/_s-objects.pug
include ../blocks/s-calc/_s-calc.pug
include ../blocks/aside-nav/_aside-nav.pug

block title
	title  16.1. 40 причин заказать у нас


block pagecontent
	+header() 
		+top-nav()(class="fixed-page ")
		//- +header-block()
	+b.main-row.row.no-gutters
		+e.col-aside.col-xl-auto 
			+e.current-nav.toggle-btn-js.d-xl-none
				.container 40 причин заказать у нас
			
			+aside-nav



		+e.col-main--block-2.col  
			+b.page-head.container.text-xl-left.text-center
				//- +breadcrumb('40 причин заказать у нас', 'Главная')
				h1 40 причин заказать у нас 
			+s-doc-16-1()(class="section-border-bottom")
			+s-contact-whithoutTitle()(class="s-contact--40")
				+b.section-title.text-center.pb-0
					h2 Ищете надёжного партнёра по&nbsp;поставке нерудных материалов? 
					.h6 Оставьте заявку и&nbsp;мы&nbsp;предоставим для вас выгодные условия, а&nbsp;также бесплатно доставим образцы материала
	+footer()