extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-prod/_s-prod.pug
include ../blocks/s-shipping/_s-shipping.pug
include ../blocks/s-geo/_s-geo.pug
include ../blocks/s-now/_s-now.pug
include ../blocks/s-team/_s-team.pug
include ../blocks/s-client/_s-client.pug
include ../blocks/s-objects/_s-objects.pug
include ../blocks/s-calc/_s-calc.pug
include ../blocks/aside-nav/_aside-nav.pug
include ../blocks/s-about-text/_s-about-text.pug
include ../blocks/s-applications/_s-applications.pug
include ../blocks/s-project-head/_s-project-head.pug
include ../blocks/s-soc/_s-soc.pug
include ../blocks/s-gal/_s-gal.pug
include ../blocks/s-why/_s-why.pug

block title
	title 16.9. Программа лояльности

block pagecontent
	+header() 
		+top-nav()(class="fixed-page ")
		//- +header-block()
	+b.main-row.row.no-gutters
		+e.col-aside.col-xl-auto 
			+e.current-nav.toggle-btn-js.d-xl-none
				.container Программа лояльности
			
			+aside-nav



		+e.col-main--block-2.col  
			+b.page-head.container.text-xl-left.text-center
				//- +breadcrumb('Видео с отгрузок', 'Главная')
				h1 Программа лояльности
			+s-why-16-9(class="section-border-bottom  ")
			+s-contact-whithoutTitle()(class="s-contact--40")
				+b.section-title.text-center.pb-0
					h2 Ищете надёжного партнёра по&nbsp;поставке нерудных материалов? 
					.h6 Оставьте заявку и&nbsp;мы&nbsp;предоставим для вас выгодные условия, а&nbsp;также бесплатно доставим образцы материала
	+footer()