mixin s-snow-foot()
	// start s-snow-foot
	+b.SECTION.s-snow-foot.section#s-snow-foot&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 s-snow-foot
				
			.row
	// end s-snow-foot