.s-conditions {
	.section-title{
		// margin-bottom: em(11);
		h2{
			padding-bottom: em(1);
		}
	}
	&__item {
		position: relative; 
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		// opacity: 0.6;
		// opacity: 0.7; 
		@extend .h55;
		margin-bottom: 0;
		border-radius: 5px;
		font-weight: bold;
		padding: em(20) em(28);
		@include media-breakpoint-up(xl) {

			height: rem(280px);
		}
		// height: rem(358px);
		height: rem(280px);
		line-height: (28 / 18);
		overflow: hidden;
		&::before{
		 opacity: 0.3;

		}
	 
			min-height: 100%;
			color: #ffffff;
	}

	&__col{
		margin-bottom: 30px;
	}
	&__text{
		max-width: em(300);
}
		
@include media-breakpoint-up(xxl) {
	.container{
		max-width: rem(1170);
	}
}
	//
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}