.s-prod {
	// position: relative;
	// z-index: 3;
	// background-color: #ffffff;
		&.visible{
		
		}

		&__col{
			@include media-breakpoint-up(xxl) {

				margin-bottom: 30px;
			}
			margin-bottom: rem(20);
		}

		&__col--sm{
			display: flex;
			flex-direction: column;
		}
	//
	@include media-breakpoint-up(xl) {
		// padding-top: 170px;
	}
	@include media-breakpoint-up(lg) {
 
	}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 
	
	
}

.item-prod{
	@extend .panel;
	padding-bottom: rem(10);
	background-color: #ffffff;
	position: relative;
	height: 100%;
	display: block;
	width: 100%;
	margin-bottom: 0;
	min-height: rem(213);
	@extend .h6;
	// margin-bottom: 0;
	&__btn{
		@extend .btn;
		@extend .btn-sm;
		@extend .btn-primary;
	}
	&__link{
		font-size: 1rem;
		@extend .link-color; 
		font-size: 1rem;
		line-height: 1.2; 
		min-width: rem(76);
		position: relative;
			z-index: 2; 
	}
	&__item{
		line-height: 1;
		margin-bottom: em(12);
	}
	.text-gray2{
		font-size: 1rem;
	}
	@include media-breakpoint-up(sm) {

		@include mt;
		&:hover{
			box-shadow: 0 10px $h55-font-size rgba(51, 51, 51, 0.1);
		}
	}
	@include media-breakpoint-up(xl) {

		&--sm{
			height: auto;
			@include media-breakpoint-up(xl) {

				// height: 252px;
			}
			height: auto;
			flex-grow: 1;
		}
		+ .item-prod{
			margin-top: 30px;
		}
	}
	&__img-wrap{
		display: block;
		@include media-breakpoint-up(xl) {

			height: rem(278px);
		}
		height: 100%;
		// min-height: 100%;
		display: block;
		background-color: $body-color;
	}
	&__row{
		// @include media-breakpoint-up(xl) {
		// @include roww(20);
		// }
		padding-right: rem(107);
	}
	&__row,
	&__list{
		list-style-type: none;
		 
		margin-bottom: 0; 
	}
	
	&--lg &__list{
		@include media-breakpoint-up(lg) {

			columns: 4;
		}
		@include media-breakpoint-up(sm) {

			columns: 3;
		}
		columns: 2;
	}
	
	&--col2 &__list{
		columns: 2;
	}
	&__title{
		line-height: 1.3;
		@extend .h55;
		margin-top: rem(-4);
		// font-weight: bold;
		// padding-top: rem(2);
		margin-bottom: em(12);
	}
	&__price{
		display: inline-block;
	}
	&__caption{
		@include media-breakpoint-up(xl) {
			
			padding: rem(38px) rem(15px) rem(23px) rem(32px);
		}
		@include media-breakpoint-up(sm) {
			
			padding: rem(38px) rem(15px) rem(30px) rem(30px);
		}
		padding: rem(28px) rem(15px) rem(18px);
		&--lg{
			
			@include media-breakpoint-between(md,lg) {
				padding-left: 0;
				
				padding-right: 0;
			}
		}
	}
	&--cap  &__caption{
		@include media-breakpoint-up(xl) {
			
			padding: rem(28px) rem(20px) rem(20px) rem(28px);
			// padding-top: rem(28);
				} 
			}

	&__text{
		// max-width: em(190);
		line-height: 1.6;
	}

	&--shipping &__caption{
		@include media-breakpoint-up(xl) {
		height: 100%;
		display: flex;
		}
		.row{

			@include media-breakpoint-up(xl) {
				
				flex-direction: column;
				align-items: baseline;
			}
			align-items: center;
			// display: flex;
			height: 100%;
		}
			@include media-breakpoint-up(xxl) {
			
				padding: rem(38px) rem(30px) rem(35px) rem(42px);
		}
	 
	}
	&--shipping &__text{
		padding-bottom: em(22);
		
	}
	&__title--lg{
		line-height: 1.3;
		margin-bottom: em(9);
		@include media-breakpoint-up(xl) {
			font-size: $h4-font-size;
		}
		@include font-size($h5-font-size * 1.2);
	}
	&__text-col{
		@include media-breakpoint-up(lg) {
			flex: 0 0 auto;
			// text-align: left;
			margin-bottom: auto;
			flex-grow: 1;
		}
		
	}
	&__foot-col{
				@include media-breakpoint-up(lg) {
		flex: 0 0 auto;
		// margin-top: auto;
				}

	}
	&__icon-wrap{
		margin-bottom: rem(32);
		height: rem(100);
		@include media-breakpoint-between(xl, xxl){
			display: block;
			img{
				max-height: 100%;
			}
		}
		@include media-breakpoint-up(lg) {
			flex: 0 0 auto;
			// text-align: left;
			text-align: left;
		}
		
		 

		text-align: center;
	}
	img{
		position: absolute;
		bottom: 0;
		right: 0;
		max-width: rem(218);
		max-height: rem(114);
	}
}
 