mixin accord(t) 
	+b.accord
		+e.head.h55.strong
			+e.inner= t
				+e.before
		+e.body
			+e.body-inner
				+e.close
				+e.body-title.h55.strong Почему ваша продукция дороже чем у конкурентов?
				+e.text 
					.h6  Текст под замену. В настоящий момент в онлайн-каталоге представлены наиболее ходовые позиции основных видов продукции Первой нерудной компании.
					+e.body-foot
						span.text-gray2 Если вы не получили ответа на свой вопрос,  
						| 
						a.body-link.d-inline-block.popup-with-move-anim(href="#modal-call" data-title='Задать вопрос')  свяжитесь с нами.
mixin s-faq()
	// start s-faq
	+b.s-faq.section#s-faq&attributes(attributes)
		.container
			+b.tabs
				.row.align-items-center
					.col-md-auto.order-md-last.text-center
						+e.btn-outline.popup-with-move-anim(href="#modal-call" data-title='Задать вопрос') Задать вопрос
					.col
						+e.caption
							+e.btn.active.prod-btn Продукция
							+e.btn.prod-btn Доставка
							+e.btn.prod-btn Условия заказа
							+e.btn.prod-btn Контроль качества
				+e.wrap
					mixin cont()
						+e.content&attributes(attributes)
							


							+accord('Какие виды продукции поставляет ваша компания?')
							+accord('Какая марка прочности щебня?')
							+accord('С какого месторождения продукция?')
							+accord('Можно приехать посмотреть на продукцию?')
							+accord('Сколько тонн в кубическом метре?')
							+accord('Ваша компания выдает сертификаты качества?')
							+accord('Где можно ознакомиться с сертификатами на продукцию?')
					+cont()(class="active")
					+cont()
					+cont()
					+cont()
	// end s-faq

mixin s-faq-16()
	// start s-faq
	+b.s-faq.section#s-faq&attributes(attributes)
		.container 
			block
			+accord('Какая марка прочности щебня?')
			+accord('С какого месторождения продукция?')
	// end s-faq
mixin accord-v(t, t2) 
	+b.accord
		+e.head.h55.strong
			+e.inner= t
				|
				span.d-inline-block.text-primary=t2 
				+e.before
		+e.body
			+e.body-inner
				+e.close
				+e.body-title.h55.strong= t
					|
					span.d-inline-block.text-primary=t2 
				+e.text--vac 
					mixin group(t)
						+e.group
							+e.group-title= t
							ul
								block
						// /+e.group
					+group('Кого мы хотим видеть:')
						li Ответственного, человека, стремящегося развиваться и обучаться;
						li Умеющего вести деловые переговоры с партнерами и с заказчиками;
						li Желающего хорошо зарабатывать;
						li С хорошей хваткой (Одновременно контролировать 6-7 проектов).

					+group('Что вы будете делать:')
						li Прием и обработка заявок;
						li Контроль исполнения заявок;
						li Организация и проведение переговоров с ключевыми лицами компаний (работаем только с юр.лицами);
						li Оперативное решение всех возникающих вопросов с клиентами;
						li Обработка входящей корреспонденции;
						li Работа с первичной документацией;
						li Работа в 1С;
						li Выставление актов и счет-фактур;
						li Расчет и сверка с заказчиками;
						li Сверка с контрагентами;
						li Заключение договоров;
						li Переговоры с партнерами (поставщики, клиенты);
						li Контроль наличия оригиналов документов от поставщиков;
						li Выполнение поручений генерального директора.

					+group('Что мы от Вас хотим:')
						li Опыт работы в продажах(не розница), умение четко и грамотно излагать свои мысли;
						li Очень рады кандидатам с опытом работы в аналогичной сфере (В2В; строительство, строительные материалы, аренда спецтехники, перевозка сыпучих грузов, щебень, песок);
						li Своевременное исполнение поставленных задач;
						li Ответственное отношение к работе и задачам;
						li Работа на измеряемый результат;
						li Умение работать с большим объемом информации;
						li Ориентация на долгосрочное сотрудничество с работодателем;
						li Уверенное пользование ПК.

					+group('Личные качества:')
						li Само-организованность;
						li Стрессоустойчивость;
						li Амбициозность;
						li Клиенто-ориентированность;
						li Настойчивость в достижении результата;
						li Трудолюбие;
						li Исполнительность;
						li Ответственность.

					+group('Что мы предлагаем:')
						li Оклад + премии + % с продаж, транспортные расходы;
						li Белую заработную плату, перечислением на пластиковую карточку (без задержек);
						li Карьерный рост для лучших специалистов;
						li Официальное трудоустройство. Пятидневная рабочая неделя, режим работы с 08.00 до 17.00;
						li Постоянное обучение за счет компании, повышение квалификации;
						li Сильный руководитель с опытом продаж (более 50 000 000 руб. в год);
						li Мы предлагаем работу в прибыльной компании;
						li Понятный функционал;
						li Фактический мы предлагаем должность “правой руки” Исполнительного директора с возможностью принимать решения для развития компании.

					+group('Почему люди остаются работать с нами:')
						li Общие ценности, идеи, стремления к лучшему;
						li Желание развиваться и обучаться;
						li Интерес к новым процессам, новый опыт;
						li Новый бизнес, значит есть шанс быть у истоков;
						li Деньги (зарплата).
					+e.group Мы благодарим всех соискателей, которые откликнутся на данную вакансию. Ваше резюме будет рассмотрено в течение 2-х дней.

					+e.group При положительном результате рассмотрения Вашей кандидатуры мы свяжемся с Вами для обсуждения деталей позиции и приглашения на собеседование. 
						br
						| Отсутствие ответа в указанный период означает, что к сожалению, мы не можем предложить Вам данную вакансию, однако Ваше резюме будет сохранено в нашей базе, чтобы мы могли вернуться к нему в будущем.
					
					+e.btn.popup-with-move-anim(href="#modal-profile") Откликнуться на вакансию

mixin s-faq-18()
	// start s-faq
	+b.s-faq.section#s-faq&attributes(attributes)
		.container 
			+accord-v('Диспетчер-логист в г. Набережные Челны  ','от 40 000 рублей')
			+accord-v('Младший бухгалтер в г. Набережные Челны ','от 20 000 рублей') 
	// end s-faq