mixin s-404()
	// start s-404
	+b.s-404.section#s-404&attributes(attributes)
		.container
			+b.section-title.text-center
				.h2 Что-то пошло не так :(
				+e.text Страницы, на&nbsp;которую вы&nbsp;пытаетесь попасть не&nbsp;существует, попробуйте начать с&nbsp;главной страницы.
			+e.btn(href="#") На главную
	// end s-404