mixin s-doc()
	// start s-doc
	+b.s-doc.section#s-doc&attributes(attributes)
		.container
			+e.head
				.row
					.col-md-4
						+b.doc-link--lg(href="#" target="_blank")
							+e.before
								img.res-i.lazy(src="#" data-src="img/doc-i-word.png", alt="")
							div
								.h6
									span Скачать коммерческое предложение
								.text-gray2 1,28 мб
					
					.col-md-4
						+b.doc-link--lg(href="#" target="_blank")
							+e.before
								img.res-i.lazy(src="#" data-src="img/doc-i-pdf.png", alt="")
							div
								.h6
									span Скачать презентацию о&nbsp;компании
								.text-gray2 13,1 мб
					
					.col-md-4
						+b.doc-link--lg(href="#" target="_blank")
							+e.before
								img.res-i.lazy(src="#" data-src="img/doc-i-pdf.png", alt="")
							div
								.h6
									span Скачать 	карту партнера
								.text-gray2 2 мб
			+e.body
				+e.body-title Паспорта качества
				mixin item(t2, ...items)
					// +e.item
					+e.item
						+e.title= t2
						each t in items
							+e.link-wrap
								+e.link.body-link(href="#")= t
					// /+e.item
				.row
					.col-md-6
						+item('Щебень','Паспорт качества для щебня фракции 5-20','Паспорт качества для щебня фракции 20-40','Паспорт качества для щебня фракции 40-70') 
						+item('Смеси','Паспорт качества для смеси фракции 0-5','Паспорт качества для смеси фракции 0-10','Паспорт качества для смеси фракции 0-20' )
						+item('Отсев','Паспорт качества для отсева фракции 0-40','Паспорт качества для отсева фракции 0-80','Паспорт качества для отсева фракции 0-120' )
						+item('Гравий','Паспорт качества для гравия фракции 5-10','Паспорт качества для гравия фракции 5-20','Паспорт качества для гравия фракции 20-40','Паспорт качества для гравия фракции 20-70','Паспорт качества для гравия фракции 40-70')
					.col-md-6
						+item('Узкие фракции щебня','Паспорт качества для щебня фракции 3-10','Паспорт качества для щебня фракции 5-10','Паспорт качества для щебня фракции 5-15','Паспорт качества для щебня фракции 10-15','Паспорт качества для щебня фракции 10-20','Паспорт качества для щебня фракции 20-70','Паспорт качества для щебня фракции 25-60')
						+item('Бутовый камень','Паспорт качества для камня фракции 70-150','Паспорт качества для камня фракции 150-300','Паспорт качества для нестандартного камня')
						+item('Смеси гравия и песка','Паспорт качества для ПГС','Паспорт качества для ОПГС')
						+item('Песок','Паспорт качества для речного песка','Паспорт качества для обогащенного песка','Паспорт качества для строительного песка')
	// end s-doc

mixin s-doc-16-1()
	// start s-doc
	+b.s-doc.section#s-doc&attributes(attributes)
		.container
			  
			+e.body 
				mixin item(t2 )
					+e.col.col-md-6
						// +e.item
						+e.item--40
							+e.title--problem= t2
							block
						// /+e.item
				.row
						+item(' Опыт работы ')
							+e.text Успешно работаем на&nbsp;рынке нерудных материалов более 7&nbsp;лет.
						+item(' Качественная продукция')
							+e.text Вся продукция имеет паспорта качества.
						+item(' Отлаженная логистика')
							+e.text Варианты доставки на&nbsp;выбор: автодоставка, ж/д доставка, морская доставка.
						+item(' География')
							+e.text Поставляем продукцию по&nbsp;Республике Татарстан и&nbsp;Республике Башкортостан.
						+item(' Нам доверяют')
							+e.text Более 6&nbsp;500 клиентов за&nbsp;последние 4&nbsp;года.
						+item(' Отгружаем продукцию за 1 день')
							+e.text Один день в&nbsp;среднем требуется на&nbsp;погрузку материала.
						+item(' Соблюдение сроков')
							+e.text Гарантируем бесперебойные поставки материалов без задержек и&nbsp;форс-мажоров.
						+item(' Отгрузка в день обращения')
							+e.text Если у&nbsp;заказчика горящий объект, мы&nbsp;начинаем отгрузку материала в&nbsp;день обращения.
						+item(' Контроль веса')
							+e.text Гарантируем бесперебойные поставки материалов без задержек и&nbsp;форс-мажоров.
						+item(' Всегда на связи')
							+e.text Если у&nbsp;заказчика горящий объект, мы&nbsp;начинаем отгрузку материала в&nbsp;день обращения.

						+item(' Полный пакет документов')
							+e.text После отгрузки материала отправляем все закрывающие документы.

						+item(' Контролируйте каждый этап')
							+e.text Отправляем фотографии процесса погрузки на&nbsp;WhatsApp, Viber.

						+item(' Ответственность')
							+e.text Каждый сотрудник на любом этапе стремится решить проблему клиента. 

						+item(' Неизменность цены')
							+e.text Все непредвиденные расходы мы&nbsp;берем на&nbsp;себя, вы&nbsp;платите только оговоренную сумму.
							//- +e.text Отправляем фотографии процесса погрузки на&nbsp;WhatsApp, Viber.
						+item(' Стоимость известная зараннее') 
							+e.text Точную стоимость материала и&nbsp;доставки до&nbsp;вашего объекта вы&nbsp;можете рассчитать в&nbsp;калькуляторе поставок на&nbsp;нашем сайте.
						+item(' Продукция всегда в наличии')
							+e.text 25&nbsp;000 тонн готовой продукции на&nbsp;карьерах постоянно. Этого достаточно, чтобы покрыть самый крупный запрос клиента.
						+item(' Персональный менеджер')
							+e.text В&nbsp;любой момент узнайте, где находится Ваш груз в&nbsp;режиме реального времени.
						+item(' Предоставляем отсрочку платежа')
							+e.text Для крупных клиентов возможна отсрочка платежа до&nbsp;2&nbsp;недель с&nbsp;момента поставки.
						+item(' Оптимальный маршрут поставок')
							+e.text Служба логистики разработает оптимальный маршрут и&nbsp;проконтролирует все этапы доставки.
						+item(' Наши площадки')
							+e.text В&nbsp;нашей распоряжении более 5&nbsp;карьеров по&nbsp;Поволжью и&nbsp;Центральному федеральному округу.
						+item(' Техника всегда на линии')
							+e.text 20&nbsp;самосвалов и&nbsp;тонаров ежедневно на&nbsp;линии, готовые в&nbsp;любой момент выехать на&nbsp;погрузку.
						+item(' Команда')
							+e.text 17&nbsp;сотрудников в&nbsp;штате и&nbsp;46&nbsp;на подряде.
						+item(' Собственная ERP/CRM система')
							+e.text Система позволяет нам работать оперативно, быстро решать поставленные задачи, ничего не&nbsp;забывать, ничего не&nbsp;упускать.
						+item(' Оплата по факту')
							+e.text Вы&nbsp;можете оплатить продукцию по&nbsp;факту отгрузки, без предоплаты.
						+item(' Первая поставка по себестоимости')
							+e.text Для новых клиентов первую отгрузку при больших объемах поставим по&nbsp;себестоимости.
						+item(' Бесплатная поставка образцов')
							+e.text Если у&nbsp;вас возникают сомнения по&nbsp;поводу качества нашей продукции&nbsp;&mdash; мы&nbsp;бесплатно отправим вам пробную  партию 20&nbsp;кг по&nbsp;первому запросу.
						+item(' Прозрачность сделки')
							+e.text Мы&nbsp;дорожим своей репутацией перед нашими клиентами, поэтому гарантируем 100% прозрачность сделки.
						+item(' Миссия компании')
							+e.text Быть партнером для наших клиентов с&nbsp;высокой степенью надежности долгосрочных контрактов  по&nbsp;поставке инертных материалов.
						+item(' Вы всегда знаете где находится ваш груз')
							+e.text Узнавайте, где находится Ваш груз, в&nbsp;режиме реального времени. Вы&nbsp;всегда сможете рассчитать время прибытия с&nbsp;точностью до&nbsp;1&nbsp;дня.
						+item(' Доступная цена')
							+e.text Мы&nbsp;снизили производственные издержки за&nbsp;счет полноценной логистики и&nbsp;развитию собственных карьеров. Именно поэтому,  стоимость наших материалов остается доступной.
						+item(' Лабораторные испытания')
							+e.text Все поставляемые инертные материалы отбираются с карьеров-партнеров для лабораторных испытаний, после которых мы&nbsp;выявляем продукцию наиболее высокого  качества и&nbsp;работаем с&nbsp;этим карьером.
						+item(' Выгодные условия')
							+e.text Мы&nbsp;всегда готовы предложить выгодные условия для наших клиентов
						+item(' Более 1000 крупных проектов')
							+e.text За&nbsp;все время работы нашей компании мы&nbsp;реализовали более 1000 крупных проектов
						+item(' Склады в разных городах')
							+e.text Склады в&nbsp;различных городах уменьшают автотранспортную дистанцию, обеспечивая наиболее низкую стоимость доставки до&nbsp;потребителя
						+item(' Специальные условия сотрудничества')
							+e.text Для заводов производителей бетона, ЖБИ и&nbsp;ЖБК, строительных и&nbsp;дорожно-строительных компаний, торговых организаций, гос. учреждений, гидро-строительных компаний.
						+item(' Контроль качества обслуживания')
							+e.text После каждой отгрузки мы&nbsp;связываемся с&nbsp;клиентом, чтобы убеиться, что всё прошло хорошо и&nbsp;нет никаких претензий.
						+item(' Высокое доверие')
							+e.text 75% наших клиентов заказывают у&nbsp;нас по&nbsp;рекомендациям друзей и&nbsp;партнеров.
						+item(' Программа лояльности (бонусы)')
							+e.text Предоставляем закупщикам дополнительный стимул к&nbsp;организации более эффективных закупок.
	// end s-doc

mixin s-doc-16-5()
	// start s-doc
	+b.s-doc#s-doc&attributes(attributes)
		.section.section-border-bottom.pt-0
			+e.slider-wrap
				.container
					+e.slider.slider--js.swiper-container
						.swiper-wrapper
							mixin item(t)
								+e.slide.swiper-slide.col-md-6
									+e.item-top
										+e.count--md= t
										block
								// /.col-3
							+item('Соответствие стандартам')
								.h6 Качество наших материалов полностью соответствует заявленным характеристикам и&nbsp;поставляется с&nbsp;надлежащими сертификатами, с&nbsp;которыми вы&nbsp;можете ознакомиться в&nbsp;разделе документы.
							+item('Стоимость')
								.h6 Нерудные материалы отбираются с&nbsp;карьеров-партнеров для лабораторных испытаний после которых мы&nbsp;выявляем продукцию наиболее высокого качества и&nbsp;работаем с&nbsp;этим карьером.
							+item('Лабораторные испытания')
								.h6 Мы&nbsp;снизили производственные издержки за&nbsp;счет полноценной логистики и&nbsp;развитию собственных карьеров. Именно поэтому, стоимость наших материалов остается доступной.
							+item('Бесплатная поставка образцов')
								.h6 Если у&nbsp;вас возникают сомнения по&nbsp;поводу качества нашей продукции&nbsp;&mdash; мы&nbsp;бесплатно отправим вам пробную партию 20&nbsp;кг по&nbsp;первому запросу.
				.swiper-pagination

		.container.section
			 
			+e.body
				.section-title.text-center
					h2 Вся продукция имеет паспорта качества
				mixin item(t2, ...items)
					// +e.item
					+e.item
						+e.title= t2
						each t in items
							+e.link-wrap
								+e.link.body-link(href="#")= t
					// /+e.item
				.row
					.col-md-6
						+item('Щебень','Паспорт качества для щебня фракции 5-20','Паспорт качества для щебня фракции 20-40','Паспорт качества для щебня фракции 40-70') 
						+item('Смеси','Паспорт качества для смеси фракции 0-5','Паспорт качества для смеси фракции 0-10','Паспорт качества для смеси фракции 0-20' )
						+item('Отсев','Паспорт качества для отсева фракции 0-40','Паспорт качества для отсева фракции 0-80','Паспорт качества для отсева фракции 0-120' )
						+item('Гравий','Паспорт качества для гравия фракции 5-10','Паспорт качества для гравия фракции 5-20','Паспорт качества для гравия фракции 20-40','Паспорт качества для гравия фракции 20-70','Паспорт качества для гравия фракции 40-70')
					.col-md-6
						+item('Узкие фракции щебня','Паспорт качества для щебня фракции 3-10','Паспорт качества для щебня фракции 5-10','Паспорт качества для щебня фракции 5-15','Паспорт качества для щебня фракции 10-15','Паспорт качества для щебня фракции 10-20','Паспорт качества для щебня фракции 20-70','Паспорт качества для щебня фракции 25-60')
						+item('Бутовый камень','Паспорт качества для камня фракции 70-150','Паспорт качества для камня фракции 150-300','Паспорт качества для нестандартного камня')
						+item('Смеси гравия и песка','Паспорт качества для ПГС','Паспорт качества для ОПГС')
						+item('Песок','Паспорт качества для речного песка','Паспорт качества для обогащенного песка','Паспорт качества для строительного песка')
	// end s-doc
