
	// start .s-rent
	.s-rent {
		 &__col{
			 @include media-breakpoint-up(xl) {

				 margin-bottom: rem(30);
				}
				margin-bottom: rem(20);
		 }
		 @include media-breakpoint-up(xl) {

			 .section-title{
				 padding-bottom: rem(52);
				}
			}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.s-rent

.item-rent{
	height: 100%;
	min-height: rem(210);
	@include mt;
	position: relative;
	padding-top: rem(25);
	padding-bottom: rem(20);
	&:hover{

	}
	
	&__link{ 
		line-height: 1.2; 
		min-width: rem(76);
		position: relative;
			z-index: 2; 
	}
	&__title{
		@extend .h55;
		line-height: 1.3;
		margin-bottom: rem(20);
		// margin-top: rem(-);
	}
	&__item{
		line-height: 1;
		margin-bottom: em(12);
	}
 
	@include media-breakpoint-up(sm) {

		@include mt;
		&:hover{
			box-shadow: 0 10px $h55-font-size rgba(51, 51, 51, 0.1);
		}
	}
	picture{
		text-align: center;
		height: rem(90);
		line-height: rem(90);
		margin-bottom: rem(30);
	  @include media-breakpoint-between(md, xl) {

			margin-left: auto;
			margin-right: auto;
			height: rem(180);
			line-height: rem(100); 
		}
			vertical-align: middle;
		margin-bottom: rem(10);
		img{
			max-width: 100%;
			max-height: 100%;
		}
	}
	.col-12{
		position: static;
	}
	  @include media-breakpoint-between(md, xl) {
		text-align: center;
		padding-bottom: rem(30);
		&__col{
			flex: 0 0 0;
		}
		.row{
			flex-direction: column;
			height: 100%;
			flex-wrap: nowrap;
			.col-12{
				margin-top: auto;
			}
		}
	}
	text-align: left;
	&__btn{
		@extend .btn;
		@extend .btn-sm;
		@extend .btn-primary;
		position: absolute;
		left: rem(30);
		bottom: rem(30);
		font-size: 1rem;
		@include media-breakpoint-between(md, xl) {
			position: static;
			width: 100%;
		}
	}
}