mixin s-rent()
	// start s-rent
	+b.SECTION.s-rent.section.bg-light#s-rent&attributes(attributes)
		.container
			block
				
			.row
				mixin item(i,t,pr, ...items)
					+e.col.col-md-4
						+b.item-rent.panel&attributes(attributes)
							.row
								+e.col.col-lg-auto.col-md-12.col-auto
									picture
										img.res-i.lazy(src="#" data-src=`img/@2x/rent-${i}.png`, alt="")
									//- +pic(`rent-${i}`,'','lazy',0)
								.col
									+e.title
										.strong= t
										| 
										+e.price= pr 
									if block
										block
									else 
										each item in items
											+e.item: +e.link.link-color(href='#')= item
								+e.col.col-12
									+e.btn.btn-primary.popup-with-move-anim(href="#modal-call-new" data-title="Заказать спецтехнику" data-btn="Заказать спецтехнику")  Заказать 
					// /+e.col.col-4
				+item("1",'Самосвалы КАМАЗ','от 800 руб/час','','','')
					+e.item: +e.link.link-color(href='#') Кузов 10 м
						sup 3
					+e.item: +e.link.link-color(href='#') Кузов 15 м
						sup 3
					+e.item: +e.link.link-color(href='#') Кузов 30 м
						sup 3
				+item("2",'Фронтальные погрузчики','от 1400 руб/час','Volvo','Mitsuber')
				+item("3",'Экскаваторы-погрузчики','от 5400 руб/час','Caterpillar','JCB')
				//- +item("3",'Экскаваторы-погрузчики','от 5400 руб/час','Caterpillar','JCB')
	// end s-rent